<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Newsletter unsubscription</title>
</head>
<body>
<h3>
    <f:if condition="{gender} && {lastname}">
        <f:then>
            <f:translate key="email.dear-gender-first-and-last-name" arguments="{0: gender, 1: firstname, 2: lastname}" />
        </f:then>
        <f:else if="{lastname}">
            <f:translate key="email.dear-first-and-last-name" arguments="{1: firstname, 2: lastname}" />
        </f:else>
        <f:else>
            <f:translate key="email.dear" />
        </f:else>
    </f:if>
</h3>
<p>you need to click at the verify link to verify your unsubscription:</p>
<p><f:link.action pageUid="{unsubscribeVerifyUid}" extensionName="fpnewsletter" pluginName="pi1" controller="Log" action="verifyUnsubscribe" arguments="{uid: uid, hash: hash}" absolute="1"><f:format.raw><f:uri.action pageUid="{unsubscribeVerifyUid}" extensionName="fpnewsletter" pluginName="pi1" controller="Log" action="verifyUnsubscribe" arguments="{uid: uid, hash: hash}" absolute="1" /></f:format.raw></f:link.action></p>
<f:form pageUid="{unsubscribeVerifyUid}" extensionName="fpnewsletter" pluginName="pi1" controller="Log" action="verifyUnsubscribe" absolute="1" method="POST">
    <f:form.hidden name="uid" value="{uid}"/>
    <f:form.hidden name="hash" value="{hash}"/>
    <p>Alternativ können Sie auch auf diesen Button klicken:</p>
    <f:form.submit value="Verify email address" />
</f:form>
<p>Best regards<br>
{settings.company}</p>
</body>
</html>