.list-with-map{
  margin-top: 4rem;
}

.popup-bubble {
  /* Position the bubble centred-above its parent. */
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(20px, -100%);
  /* Style the bubble. */
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  font-family: sans-serif;
  overflow-y: auto;
  max-height: 60px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
  overflow: visible;
}

/* The parent of the bubble. A zero-height div at the top of the tip. */
.popup-bubble-anchor {
  /* Position the div a fixed distance above the tip. */
  position: absolute;
  height: 100px;
  bottom: 0;
  left: 0;
}

/* This element draws the tip. */
.popup-bubble::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  /* Center the tip horizontally. */
  transform: translate(0,-50%);
  /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
  width: 0;
  height: 0;
  /* The tip is 8px high, and 12px wide. */
  border-bottom: 6px solid transparent;
  border-right: 6px solid #fff;
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
}

/* JavaScript will position this div at the bottom of the popup tip. */
.popup-container {
  cursor: auto;
  height: 0;
  position: absolute;
  /* The max width of the info window. */
  width: 200px;
}

.popup-bubble h3{
  color: red;
}

.newsItem{
  scroll-margin-top: 6rem;
}

.news-list-view{
  .row{
    margin-right: -10px;
    margin-left: -10px;
  }

  .row>*{
    padding-left: 10px;
    padding-right: 10px;
  }

  &.news-new-items{
    .row>*{
      margin-bottom: 5rem;
    }
  }

  .col-12>div{
    border-radius: 0;
  }
}