.stage {
  position: relative;

  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    min-width: 100%;
    object-fit: cover;
    max-height: calc(100vh - 180px);
  }

  h1 {
    color: #fff;
    text-align: center;
  }

  .stage_title {
    color: #fff;
    font-size: calc(1.3rem + 2vw);
  }
}

.stage-wrapper {
  h1 {
    color: #fff;
    font-weight: bold;
    margin-top: -70px;
    text-shadow: 2px 2px 1px #00000022;  
  }

  p {
    color: #fff;
    margin-bottom: 20px;
  }
}


.flip-card {
  background-color: transparent;
  width: 70px;
  height: 70px;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
  margin-right: 10px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 2px;
  transform: rotateY(180deg);
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card.flipped .flip-card-inner {
  transform: rotateY(0deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  border-radius: 2px;
  top: 0;

  img {
    border-radius: 2px;
    object-fit: cover;
    min-width: initial;
    min-height: initial;
  }

  span {
    font-size: 50px;
    line-height: 70px;
    font-weight: bold;
  }
}

.flip-card-front {
  position: relative;

  span {
    font-size: 50px;
    font-weight: bold;
    line-height: 70px;
    color: orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
  }
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: rgba(0, 0, 0, .3);
  color: orange;
  transform: rotateY(180deg);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

.flip_wrapper {
  display: flex;
}

.flipping-title {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  transition: .7s;
  transform-origin: top left;
  padding: 17vh 0 24vh;
}

.stage>img {
  opacity: 0.1;
  background-color: #ccc;
  filter: drop-shadow(2px 4px 6px black);
}

.flipping-title.flipping-title_small {
  transform: scale(.4);
  top: 20px;
  left: 20px;
}

.stage_message {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: 1s;
  opacity: 0;
}

.stage_message.active {
  opacity: 1;
}

.stage_message a.btn.icon-button {
  width: 200px;
  border-radius: 100px;
  display: block;
  margin: 0 auto;
  line-height: 23px;
}

.stage-bg {
  height: 100%;
  width: 270vw;
  display: block;
  background: linear-gradient(45deg, #5da986, #198754);
  z-index: -1;
  position: absolute;
  top: 0;
  left: -100vw;
  border-bottom-right-radius: 100%;
  position: relative;
}

.stage-bg_light::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../images/tomatoes-g45b86e626_1280.jpeg);
  background-size: 100vw;
  opacity: .06;
}


.stage-bg_light {
  height: 95%;
  width: 300vw;
  display: block;
  background-color: #5da986;
  z-index: -1;
  position: absolute;
  top: 0;
  left: -100vw;
  border-bottom-right-radius: 66%;
}


.map-svg svg {
  width: 100%;
}

.btn-ghost {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  display: inline-block;
  color: #fff;
  text-decoration: none;

  &:hover {
    color: #fff;
  }

  &:active {
    border: 2px solid #fff;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    display: inline-block;
    color: #fff;
  }

  svg {
    width: 30px;
    fill: #fff;
  }
}

.stage-wrapper {
  .col-lg-4 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
}

.col-3.d-none.d-md-block.no-padding {
  height: calc(100vh - 96px);
  overflow: auto;
}

li.list-inline-item {
  color: #444;
  font-size: 14px;
  line-height: 1.1;
}

.stage_textbox {

  margin-top: 4rem;

  @media screen and (min-width: 992px) {
    background: transparent;
    /* #2e6b4e; */
    position: absolute;
    width: 600px;
    bottom: -80px;
    right: -30px;

  }

  p {
    background-color: rgba(255, 255, 255, .3);
    color: #333;
    width: 100%;
    height: 100%;
    transform: translate(-5px, -5px);
    border: 2px solid #fff;
    margin-bottom: 0;
    padding: 20px;
    backdrop-filter: blur(7px);
    border-radius: 3px;
    box-shadow: 1px 1px #ccc;

    a {
      color: #555;
      text-decoration: underline;
    }

    strong {
      color: #555;
    }
  }
}

@media screen and (min-width: 992px) {}