<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="container newsletter">

  <div class="input-group">
    <f:form.textfield type="email" property="email" id="fp_email" additionalAttributes="{required : 'required'}" />
    <label for="fp_email">E-mail cím<span class="required">*</span></label>
  </div>



  <f:if condition="{settings.module_sys_dmail_category}">
    <f:if condition="{settings.table} == 'tt_address'">
      <f:form.hidden property="categories" value="{settings.module_sys_dmail_category}" id="fp_categories" />
    </f:if>
  </f:if>

  <f:if condition="{settings.honeypot} > 0">
    <style>
      input#fp_extras {
        display: none !important;
      }
    </style>
    <f:form.textfield property="extras" id="fp_extras" />
  </f:if>
 
  <label for="fp_gdpr">
    <f:translate key="tx_fpnewsletter_domain_model_log.gdpr" /> <span class="required">*</span></label>
  <f:form.checkbox property="gdpr" id="fp_gdpr" value="1" additionalAttributes="{required : 'required'}" /> &nbsp;
  <f:format.raw>
    Elfogadom az 
  </f:format.raw>
  <f:link.page pageUid="{settings.gdprUid}">
    Általános Szerződési Feltételekben 
  </f:link.page>
  <f:format.raw>
    leírtakat.
  </f:format.raw>
  <br>
  <f:if condition="{settings.mathCAPTCHA} > 0">
    <f:form.textfield property="mathcaptcha" id="fp_mathcaptcha" additionalAttributes="{required : 'required'}"
      size="5" />
    * (x = {log.mathcaptcha1} {f:if(condition: '{log.mathcaptchaop}', then: '+', else: '-')} {log.mathcaptcha2};
    Írd be az x értékét!)<br />
  </f:if>
  <f:if condition="{settings.reCAPTCHA_site_key}">
    <f:form.hidden property="retoken" id="recaptcha3keyS" />
    <script>
      var recaptcha3keyS = '{settings.reCAPTCHA_site_key}';
      grecaptcha.ready(function () {
        grecaptcha.execute(recaptcha3keyS, {
          action: 'homepage'
        }).then(function (token) {
          $('#recaptcha3keyS').val(token);
        });
      });
    </script>
  </f:if>

</div>

</html>