<div xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:layout name="Default" />
  <f:section name="Main">
    <f:switch expression="{data.layout}">
      <f:case value="0">

        <f:render partial="Navbar/NavbarWhite" arguments="{_all}" />
        <!-- CONTENT START -->

        <div class="page-bg" id="page-bg"></div>
        <main class="page-content pc-0">
          <f:cObject typoscriptObjectPath="lib.content.base" />
        </main>

        <!-- CONTENT END-->
        <f:render partial="Footer/FooterWhite" arguments="{_all}" />

      </f:case>

      <f:case value="2">
        <f:render partial="Navbar/NavbarTransparent" arguments="{_all}" />
        <!-- CONTENT START -->
        <main class="page-content pc-2">
          <f:cObject typoscriptObjectPath="lib.content.base" />
        </main>
        <!-- CONTENT END-->
        <f:render partial="Footer/Footer" arguments="{_all}" />
      </f:case>

      <f:case value="3">
        <f:render partial="Navbar/Navbar" arguments="{_all}" />
        <!-- CONTENT START -->
        <main class="page-content pc-3">
          <f:cObject typoscriptObjectPath="lib.content.base" />
        </main>
        <!-- CONTENT END-->
        <f:render partial="Footer/Footer" arguments="{_all}" />
      </f:case>
    </f:switch>

  </f:section>
</div>