<!--
  ~ Copyright (c) 2021.
  ~
  ~ @category   TYPO3
  ~
  ~ @copyright  2021 Dirk Persky (https://github.com/DirkPersky)
  ~ @author     Dirk Persky <info@dp-wired.de>
  ~ @license    MIT
  -->

  <p>
    A oldalunk és digitális partnereink sütiket (cookies) használnak ezen az oldalon. Egyes sütik kötelezőek a weboldal megfelelő működéséhez, azonban a következő sütik opcionálisak:
 </p>
  <ul>
    <li>
      A weboldal használatának vizsgálatához szükséges sütik.
    </li>
    <li>
      Az oldal személyre szabásához szükséges sütik.
    </li>
    <li>
     Marketinggel, hirdetésekkel és közösségi oldalakkal kapcsolatos sütik.
    </li>
   </ul>
     
<f:if condition="{settings.url}">
    <a aria-label="learn more about cookies"
       role=button tabindex="1"
       class="cc-link"
       href="{f:uri.page(pageUid:'{settings.url}')}"
       rel="noopener noreferrer nofollow"
       target="{settings.target}"
    >
        <f:translate key="link" extensionName="dp_cookieconsent"/>
    </a>
</f:if>
