<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">

<formvh:renderRenderable renderable="{element}">
  <div class="col-12">

    <f:render partial="Field/Field" arguments="{element: element, doNotShowLabel: 1, icon: 'fa fa-book'}" contentAs="elementContent">

      <f:form.checkbox
          property="{element.identifier}"
          id="{element.uniqueIdentifier}"
          class="checkbox--display__none"
          value="{element.properties.value}"
          errorClass="{element.properties.elementErrorClassAttribute}"
          additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
      />

      <label class="{element.properties.elementClassAttribute} m-l10" for="{element.uniqueIdentifier}">
        <f:format.raw>
          <f:translate key="form.privacy_policy" extensionName="emmabase"/>
        </f:format.raw>
      </label>

    </f:render>
  </div>

</formvh:renderRenderable>
</html>
