<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
  <div class="col-12">
    <div class="form-group">
      <div class="input-group">
        <f:render partial="Field/Field" arguments="{element: element, icon: 'fa fa-pencil'}" contentAs="elementContent">
          <f:form.textarea
              property="{element.identifier}"
              id="{element.uniqueIdentifier}"
              class="{element.properties.elementClassAttribute}"
              rows="6"
              cols="{element.properties.cols}"
              errorClass="{element.properties.elementErrorClassAttribute}"
              additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
              placeholder="{formvh:translateElementProperty(element: element, property: 'label')}"
              title="textarea"
          />
        </f:render>
      </div>
    </div>
  </div>
</formvh:renderRenderable>
</html>