<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
  <div class="col-md-12">

        <f:render partial="Field/Field" arguments="{element: element, icon: 'fa fa-user'}" contentAs="elementContent">
          <f:form.textfield
              property="{element.identifier}"
              id="{element.uniqueIdentifier}"
              class="{element.properties.elementClassAttribute}"
              errorClass="{element.properties.elementErrorClassAttribute}"
              additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
              placeholder="{formvh:translateElementProperty(element: element, property: 'label')}"
              title="text"
          />
        </f:render>
      </div>
</formvh:renderRenderable>
</html>
