<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

  <f:if condition="{treatIdAsReference}">
    <f:then>
      <img {f:if(condition: '{altText}', then: 'alt="{altText}"', else:'{f:if(condition: \'{img.alternative}\', then: \'alt="{img.alternative}"\', else: \'{f:if(condition: \\'{img.originalResource.alternative}\\', then: \\'alt="{img.originalResource.alternative}"\\', else: \\'{f:if(condition: \\\\'alt="{img.originalResource.name}"\\\\', then: \\\\'alt="{img.originalResource.name}{img.name}"\\\\')}\\' )}\' )}' )}
      {f:if(condition: '{img.title}', then: 'title="{img.title}"', else:'{f:if(condition: \'{img.originalResource.title}\', then: \'title="{img.originalResource.title}"\' )}')}        src="{f:uri.image(src: '{img.uid}', treatIdAsReference: '{treatIdAsReference}', width: '{imgWidth}', height: '{imgHeight}', maxWidth: '{imgWidthMax}', maxHeight: '{imgHeightMax}', crop: '{crop}', cropVariant: '{cropVariant}')}"
      {f:if(condition: '{additionalClassImage}', then: 'class="{additionalClassImage}"')}
      srcset="{f:for(each: '{sources}', as: 'source')}  <f:for each="{sources}" as="source" iteration="iterator">
      {f:uri.image(src: '{img.uid}', width: '{source.width}', height: '{source.height}', crop: '{crop}', cropVariant: '{source.cropVariant}', treatIdAsReference: '{treatIdAsReference}')} {source.inherentWidth}{f:if(condition: '{iterator.isLast}', then: '', else: ',')}
    </f:for>
      " sizes="<f:for each="{sizes}" as="size" iteration="iterator">{size.mediaQuery}{f:if(condition: '{iterator.isLast}', then: '', else: ',')}</f:for>" />
    </f:then>
    <f:else>
      <img {f:if(condition: '{altText}', then: 'alt="{altText}"', else:'{f:if(condition: \'{img.alternative}\', then: \'alt="{img.alternative}"\', else: \'{f:if(condition: \\'{img.originalResource.alternative}\\', then: \\'alt="{img.originalResource.alternative}"\\', else: \\'{f:if(condition: \\\\'alt="{img.originalResource.name}"\\\\', then: \\\\'alt="{img.originalResource.name}{img.name}"\\\\')}\\' )}\' )}' )}
      {f:if(condition: '{img.title}', then: 'title="{img.title}"', else:'{f:if(condition: \'{img.originalResource.title}\', then: \'title="{img.originalResource.title}"\' )}')}        src="{f:uri.image(src: '{img}', width: '{imgWidth}', height: '{imgHeight}', maxWidth: '{imgWidthMax}', maxHeight: '{imgHeightMax}', crop: '{crop}', cropVariant: '{cropVariant}')}"
      {f:if(condition: '{additionalClassImage}', then: 'class="{additionalClassImage}"')}
      srcset="{f:for(each: '{sources}', as: 'source')}  <f:for each="{sources}" as="source" iteration="iterator">
      {f:uri.image(src: '{img}', width: '{source.width}', height: '{source.height}', crop: '{crop}', cropVariant: '{source.cropVariant}')} {source.inherentWidth}{f:if(condition: '{iterator.isLast}', then: '', else: ',')}
    </f:for>
      " sizes="<f:for each="{sizes}" as="size" iteration="iterator">{size.mediaQuery}{f:if(condition: '{iterator.isLast}', then: '', else: ',')}</f:for>" />
    </f:else>
  </f:if>

</div>