<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>
  img = fileReference object / relative path to a file
  cropVariant = the used cropVariant, will fallback to default if empty
  altText = the alt attribute if it should take separate
  width = the fallback image's width
  width2x = the fallback image 2x (retina) width
  height = the fallback image's height
  height2x = the fallback image 2x (retina) height
  treatIdAsReference = should be set if the image is a file reference object, must be not set if it is a path
  sources: (array)
  mediaQuery = mediaQuery used by source's media attribute
  cropVariant = the used cropVariant, will fallback to default if empty
  width = image width
  width2x = retina image width
  height = image height
  height2x = retina image height
  additionalPictureClass = additional class attribute for the picture element
  additionalImageClass = additional class attribute for the image element
  displayCaption = Wrap picture in figure tag and render additional caption
</f:comment>

<f:if condition="{displayCaption} && {img.description}">
  <f:then>
    <figure class="figure">
      <f:render section="Main" arguments="{_all}"/>

      <figcaption class="figure__caption">
        <f:format.nl2br>{img.description}</f:format.nl2br>
      </figcaption>
    </figure>
  </f:then>

  <f:else>
    <f:render section="Main" arguments="{_all}"/>
  </f:else>
</f:if>

<f:section name="Main">
  <f:if condition="{img}">
    <f:if condition="!{cropVariant}">
      <f:variable name="cropVariant" value="default"/>
    </f:if>

    <f:if condition="{width} && !{width2x}">
      <f:variable name="width2x" value="{width * 2}"/>
    </f:if>
    <f:if condition="{height} && !{height2x}">
      <f:variable name="height2x" value="{height * 2}"/>
    </f:if>
    <picture {f:if(condition:
    '{additionalPictureClass}', then: 'class="{additionalPictureClass}"')}>
    <f:for each="{sources}" as="source">
      <f:variable name="sourceWidth2x" value="{source.width2x}"/>
      <f:if condition="{source.width} && !{sourceWidth2x}">
        <f:variable name="sourceWidth2x" value="{source.width * 2}"/>
      </f:if>
      <f:variable name="sourceHeight2x" value="{source.height2x}"/>
      <f:if condition="{source.height} && !{sourceHeight2x}">
        <f:variable name="sourceHeight2x" value="{source.height * 2}"/>
      </f:if>
      <f:if condition="{source.cropVariant}">
        <f:then>
          <f:variable name="sourceCropVariant" value="{source.cropVariant}"/>
        </f:then>
        <f:else>
          <f:variable name="sourceCropVariant" value="default"/>
        </f:else>
      </f:if>
      <f:if condition="{treatIdAsReference}">
        <f:then>
          <source {f:if(condition:
          '{source.mediaQuery}', then: 'media="{source.mediaQuery}"')}
          srcset="{f:uri.image(src: img.uid, width: source.width, height: source.height,
          treatIdAsReference: treatIdAsReference, cropVariant: sourceCropVariant)} 1x,
          {f:uri.image(src: img.uid, width:sourceWidth2x, height: sourceHeight2x,
          treatIdAsReference: treatIdAsReference, cropVariant: sourceCropVariant)} 2x">
        </f:then>
        <f:else>
          <source {f:if(condition:
          '{source.mediaQuery}', then: 'media="{source.mediaQuery}"')}
          srcset="{f:uri.image(src: img, width: source.width, height: source.height)} 1x,
          {f:uri.image(src: img, width:sourceWidth2x, height: sourceHeight2x)} 2x">
        </f:else>
      </f:if>
    </f:for>
    <f:if condition="{treatIdAsReference}">
      <f:then>
        <img {f:if(condition: '{additionalAttributes}', then: '{additionalAttributes} ')} {f:if(condition: '{additionalImageClass}', then: 'class="{additionalImageClass}"')}
        alt="{f:if(condition: altText, then: altText, else:
        '{f:if(condition: img.alternative, then: img.alternative, else: img.description)}')}"
        src="{f:uri.image(src: img.uid, width: width, height: height,
        treatIdAsReference: treatIdAsReference, cropVariant: cropVariant)}">
      </f:then>
      <f:else>
        <img {f:if(condition: '{additionalAttributes}', then: '{additionalAttributes} ')} {f:if(condition: '{additionalImageClass}', then: 'class="{additionalImageClass}"')}
        alt="{f:if(condition: altText, then: altText, else:
        '{f:if(condition: img.alternative, then: img.alternative, else: img.description)}')}"
        src="{f:uri.image(src: img, width: width, height: height)}">
      </f:else>
    </f:if>

    </picture>
  </f:if>
</f:section>
</html>