<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
    xmlns:rx="http://typo3.org/ns/Reelworx/RxShariff/ViewHelper" data-namespace-typo3-fluid="true">

<f:layout name="Detail" />

<!--
	=====================
		News/Detail.html
-->

<f:section name="content">
    <f:if condition="{settings.backPid}">
        <!-- Link Back -->
        <div class="news-backlink-wrap">
            <f:link.page pageUid="{settings.backPid}">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26.676 26.676"
                    style="enable-background:new 0 0 26.676 26.676;" xml:space="preserve">
                    <g>
                        <path d="M26.105,21.891c-0.229,0-0.439-0.131-0.529-0.346l0,0c-0.066-0.156-1.716-3.857-7.885-4.59
		c-1.285-0.156-2.824-0.236-4.693-0.25v4.613c0,0.213-0.115,0.406-0.304,0.508c-0.188,0.098-0.413,0.084-0.588-0.033L0.254,13.815
		C0.094,13.708,0,13.528,0,13.339c0-0.191,0.094-0.365,0.254-0.477l11.857-7.979c0.175-0.121,0.398-0.129,0.588-0.029
		c0.19,0.102,0.303,0.295,0.303,0.502v4.293c2.578,0.336,13.674,2.33,13.674,11.674c0,0.271-0.191,0.508-0.459,0.562
		C26.18,21.891,26.141,21.891,26.105,21.891z" />
                    </g>
                </svg>

                Vissza a térképhez
            </f:link.page>
        </div>
    </f:if>
    <f:if condition="{newsItem}">
        <f:then>
            <n:format.nothing>
                <n:excludeDisplayedNews newsItem="{newsItem}" />
                <f:if condition="{settings.detail.showMetaTags}">
                    <f:render partial="Detail/Opengraph" arguments="{newsItem: newsItem, settings:settings}" />
                </f:if>
                <f:if condition="{newsItem.alternativeTitle}">
                    <f:then>
                        <n:titleTag>
                            <f:format.htmlentitiesDecode>{newsItem.alternativeTitle}</f:format.htmlentitiesDecode>
                        </n:titleTag>
                    </f:then>
                    <f:else>
                        <n:titleTag>
                            <f:format.htmlentitiesDecode>{newsItem.title}</f:format.htmlentitiesDecode>
                        </n:titleTag>
                    </f:else>
                </f:if>
            </n:format.nothing>
            <f:if condition="{settings.detail.showPrevNext}">
                <n:simplePrevNext pidList="{newsItem.pid}" news="{newsItem}" as="paginated" sortField="datetime">
                    <f:if condition="{paginated}">
                        <ul class="pager">
                            <f:if condition="{paginated.prev}">
                                <li class="previous">
                                    <n:link newsItem="{paginated.prev}" settings="{settings}">
                                        <span aria-hidden="true">&larr; </span>{paginated.prev.title}
                                    </n:link>
                                </li>
                            </f:if>
                            <f:if condition="{paginated.next}">
                                <li class="next">
                                    <n:link newsItem="{paginated.next}" settings="{settings}" class="next">
                                        {paginated.next.title} <span aria-hidden="true"> &rarr;</span>
                                    </n:link>
                                </li>
                            </f:if>
                        </ul>
                    </f:if>
                </n:simplePrevNext>
            </f:if>

            <div class="row">

                <f:if condition="{settings.templateLayout} == 65">
                    <f:then>
                        <div class="col-12 col-lg-8 offset-lg-2 detail-text">
                            <div class="header">
                                <h1 itemprop="headline">{newsItem.title}</h1>
                            </div>
                            <f:if condition="{newsItem.bodytext}">
                                <div class="news-text-wrap" itemprop="articleBody">
                                    <f:format.html>{newsItem.bodytext}</f:format.html>
                                </div>
                            </f:if>
                            <f:if condition="{newsItem.falMedia}">
                                <f:for each="{newsItem.falMedia}" as="media">
                                    <f:media file="{media}" width="1920" />
                                </f:for>
                            </f:if>
                        </div>
                    </f:then>
                    <f:else>
                        <div class="col-12 col-md-6">
                            <f:if condition="{settings.templateLayout} == 77">
                                <f:then>
                                    <f:if condition="newsItem.falMedia">
                                        <f:image image="{newsItem.falMedia.0}" />
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <n:renderMedia news="{newsItem}" imgClass="img-responsive"
                                        videoClass="video-wrapper" audioClass="audio-wrapper">

                                        <f:render partial="Detail/MediaSlider"
                                            arguments="{media: newsItem.mediaNonPreviews, settings:settings}" />
                                    </n:renderMedia>
                                </f:else>
                            </f:if>

                        </div>
                        <div class="col-12 col-md-6 detail-text">
                            <div class="footer">
                                <p>
                                    <f:comment>
                                        <!-- date -->
                                        <span class="news-list-date">
                                            <time itemprop="datePublished"
                                                datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
                                                <f:format.date format="{f:translate(key:'dateFormat')}">
                                                    {newsItem.datetime}
                                                </f:format.date>
                                            </time>
                                        </span>
                                    </f:comment>


                                    <f:if condition="{newsItem.categories}">
                                        <f:render partial="Category/Items"
                                            arguments="{categories:newsItem.categories, settings:settings}" />
                                    </f:if>

                                    <f:if condition="{newsItem.tags}">
                                        <!-- Tags -->
                                        <span class="news-list-tags" itemprop="keywords">
                                            <f:for each="{newsItem.tags}" as="tag">
                                                {tag.title}
                                            </f:for>
                                        </span>
                                    </f:if>

                                    <f:if condition="{newsItem.author}">
                                        <!-- author -->
                                        <span class="news-list-author" itemprop="author" itemscope="itemscope"
                                            itemtype="http://schema.org/Person">
                                            <f:translate key="author_simple" /> <span
                                                itemprop="name">{newsItem.author}</span>
                                        </span>
                                    </f:if>
                                </p>
                            </div>
                            <div class="header">
                                <h1 itemprop="headline">{newsItem.title}</h1>
                            </div>
                            <f:if condition="{settings.templateLayout} == 77">
                                <p>
                                    <f:format.date format="%Y. %B %d.">{newsItem.datetime}</f:format.date>
                                </p>
                            </f:if>
                            <f:comment>
                                <f:if condition="{newsItem.teaser}">
                                    <!-- teaser -->
                                    <div class="teaser-text" itemprop="description">
                                        <f:format.html>{newsItem.teaser}</f:format.html>
                                    </div>
                                </f:if>
                            </f:comment>
                            <f:if condition="{newsItem.contentElements}">
                                <!-- content elements -->
                                <f:cObject typoscriptObjectPath="lib.tx_news.contentElementRendering">
                                    {newsItem.contentElementIdList}
                                </f:cObject>
                            </f:if>

                            <div class="contact-details">
                                <f:if condition="{newsItem.facebook}">
                                    <br>
                                    <img src="/typo3conf/ext/emmabase/Resources/Public/src/images/icons/location.png"
                                        width="25" height="25" alt="Telefonszám">{newsItem.txEmmabaseLocation}
                                </f:if>
                                <f:if condition="{newsItem.website}">
                                    <br>
                                    <img src="/typo3conf/ext/emmabase/Resources/Public/src/images/icons/globe.png"
                                        width="25" height="25" alt="Weboldal">{newsItem.website}
                                </f:if>
                                <f:if condition="{newsItem.phone}">
                                    <br>
                                    <img src="/typo3conf/ext/emmabase/Resources/Public/src/images/icons/phone.png"
                                        width="25" height="25" alt="Telefonszám"><a
                                        href="tel:{newsItem.phone}">{newsItem.phone}</a>
                                </f:if>

                                <f:if condition="{newsItem.facebook}">
                                    <br>
                                    <img src="/typo3conf/ext/emmabase/Resources/Public/src/images/icons/facebook.png"
                                        width="25" height="25" alt="Facebook"><a href="{newsItem.facebook}">Facebook</a>
                                </f:if>

                                <f:if condition="{newsItem.email}">
                                    <br>
                                    <img src="/typo3conf/ext/emmabase/Resources/Public/src/images/icons/email.png"
                                        width="25" height="25" alt="E-mail"><a
                                        href="mailto:{newsItem.email}">{newsItem.email}</a>
                                </f:if>
                            </div>

                            <!-- main text -->
                            <div class="news-text-wrap" itemprop="articleBody">
                                <f:format.html>{newsItem.bodytext}</f:format.html>
                            </div>

                        </div>
                    </f:else>
                </f:if>

            </div>

            <f:if condition="{settings.detail.showSocialShareButtons}">
                <f:comment>
                    Care about the privacy of your readers?
                    Checkout https://typo3.org/extensions/repository/view/rx_shariff
                    and it will be used automatically!
                </f:comment>
                <n:extensionLoaded extensionKey="rx_shariff">
                    <f:render partial="Detail/Shariff" />
                </n:extensionLoaded>
            </f:if>

            <!-- related things -->
            <div class="news-related-wrap">
                <f:comment>
                    Various options exist to fetch different related information:
                    - {newsItem.allRelatedSorted}: all related news, related und related from, sorted by date
                    - {newsItem.related}: all related
                    - {newsItem.relatedSorted}: all related, sorted by date
                    - {newsItem.relatedFrom}: all related from
                    - {newsItem.relatedFromSortedByForeign}: all related from sorted by foreign sorting
                    - {newsItem.relatedFromSorted}: all related from, sorted by date
                </f:comment>

                <f:if condition="{newsItem.allRelatedSorted}">
                    <!-- Related news records -->
                    <div class="news-related news-related-news news-list-view news-new-items">
                        <h2 class="text-center">
                            Hasonlók
                        </h2>
                        <div class="row">
                            <f:for each="{newsItem.allRelatedSorted}" as="related">
                                <div class="col-12 col-lg-4">
                                    <div>
                                        <n:link newsItem="{related}" settings="{settings}" title="{related.title}">
                                            <div class="news-new-items_wrapper">
                                                <f:image image="{related.falmedia.0}" title="{mediaElement.title}"
                                                    alt="{mediaElement.alternative}" loading="lazyLoading" width="832c"
                                                    height="450" additionalAttributes="{itemprop:'image'}" />
                                            </div>
                                            <div class="news-new-items_details">
                                                <h3>{related.title}</h3>
                                                <f:format.html>{related.teaser}</f:format.html>
                                            </div>

                                        </n:link>
                                    </div>
                                </div>
                            </f:for>
                        </div>
                    </div>
                </f:if>

                <f:if condition="{newsItem.relatedFiles}">
                    <!-- related files -->
                    <div class="news-related news-related-files">
                        <h4>
                            <f:translate key="related-files" />
                        </h4>
                        <ul>
                            <f:for each="{newsItem.relatedFiles}" as="relatedFile">
                                <li>
                                    <span class="news-related-files-link">
                                        <a href="{relatedFile.originalResource.publicUrl -> f:format.htmlspecialchars()}"
                                            target="_blank">
                                            {f:if(condition:relatedFile.originalResource.title,
                                            then:relatedFile.originalResource.title,
                                            else:relatedFile.originalResource.name)}
                                        </a>
                                    </span>
                                    <span class="news-related-files-size">
                                        {relatedFile.originalResource.size -> f:format.bytes()}
                                    </span>
                                </li>
                            </f:for>
                        </ul>
                    </div>
                </f:if>

                <f:if condition="{newsItem.relatedLinks}">
                    <!-- Related links -->
                    <div class="news-related news-related-links">
                        <h4>
                            <f:translate key="related-links" />
                        </h4>
                        <ul>
                            <f:for each="{newsItem.relatedLinks}" as="relatedLink">
                                <li>
                                    <f:link.typolink parameter="{relatedLink.uri}" title="{relatedLink.title}"
                                        target="{n:targetLink(link:relatedLink.uri)}">{f:if(condition:
                                        relatedLink.title, then:
                                        relatedLink.title, else: relatedLink.uri)}</f:link.typolink>
                                    <f:if condition="{relatedLink.description}"><span>{relatedLink.description}</span>
                                    </f:if>
                                </li>
                            </f:for>
                        </ul>
                    </div>
                </f:if>
            </div>
        </f:then>
        <f:else>

        </f:else>
    </f:if>
</f:section>

</html>
