<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
-->

<f:section name="content">
    <!--TYPO3SEARCH_end-->
    <f:if condition="{settings.templateLayout} == 1">
        <f:if condition="{news}">
            <f:then>
                <div class="news-list-view bvbvbvbvbvb" id="news-container-{contentObjectData.uid}">
                    <div class="row">
                        <f:for each="{news}" as="newsItem" iteration="iterator">
                            <f:render partial="List/Item"
                                arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                        </f:for>
                    </div>
                </div>
            </f:then>
            <f:else>
                <div class="no-news-found">
                    <f:translate key="list_nonewsfound" />
                </div>
            </f:else>
        </f:if>
    </f:if>
    <f:if condition="{settings.templateLayout} == 22">

        <f:if condition="{news}">
            <f:then>

                <div class="container">
                    <div class="program-teaser row">
                        <f:for each="{news}" as="newsItem">
                            <div class="program-teaser__item col-12 col-md-6 col-lg-4">
                                <div>
                                    <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                                        <f:if condition="{newsItem.falMedia.0}">
                                            <f:then>
                                                <f:image image="{newsItem.falMedia.0}" alt="{newsItem.title}" />
                                            </f:then>
                                            <f:else>
                                                <f:image src="EXT:emmabase/Resources/Public/src/images/event.png"
                                                    alt="event" />
                                            </f:else>
                                        </f:if>
                                        <h3>{newsItem.title}</h3>
                                    </n:link>
                                </div>
                            </div>
                        </f:for>
                    </div>
                </div>
            </f:then>
            <f:else>
                <div class="no-news-found">
                    <f:translate key="list_nonewsfound" />
                </div>
            </f:else>
        </f:if>
    </f:if>
    <f:if condition="{settings.templateLayout} == 33">
        <f:if condition="{news}">
            <f:then>
                <div class="news-list-view" id="news-container-{contentObjectData.uid}">
                    <f:if condition="{settings.hidePagination}">
                        <f:then>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-2 d-none d-md-block no-padding">
                                        <f:for each="{news}" as="newsItem" iteration="iterator">
                                            <f:render partial="List/Item"
                                                arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                        </f:for>
                                    </div>
                                    <div class="col-12 col-md-10 no-padding">
                                        <div id="list-map"></div>
                                    </div>
                                </div>
                            </div>

                        </f:then>
                        <f:else>
                            <f:if condition="{settings.list.paginate.insertAbove}">
                                <f:render partial="List/Pagination"
                                    arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                            </f:if>
                            <f:for each="{pagination.paginator.paginatedItems}" as="newsItem" iteration="iterator">
                                <f:render partial="List/Item"
                                    arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                            </f:for>
                            <f:if condition="{settings.list.paginate.insertBelow}">
                                <f:render partial="List/Pagination"
                                    arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                            </f:if>
                        </f:else>
                    </f:if>
                </div>
            </f:then>
            <f:else>
                <div class="no-news-found">
                    <f:translate key="list_nonewsfound" />
                </div>
            </f:else>
        </f:if>
    </f:if>
    <f:if condition="{settings.templateLayout} == 4">
        <f:if condition="{news}">
            <f:then>
                <div class="container">
                    <div class="news-list-view news-new-items" id="news-container-{contentObjectData.uid}">
                        <h2 class="text-center">Legújabb termelőink </h2>
                        <div class="row">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <div class="col-12 col-md-4 category-{newsItem.categories.0.uid}">
                                    <div>
                                        <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                                            <div class="news-new-items_wrapper">
                                                <f:media file="{newsItem.falMedia.0}" alt="" />
                                            </div>
                                            <div class="news-new-items_details">
                                                <h3>{newsItem.title}</h3>
                                                <f:format.html>{newsItem.teaser}</f:format.html>
                                            </div>
                                        </n:link>
                                    </div>
                                </div>
                            </f:for>
                        </div>
                    </div>
                </div>
            </f:then>
            <f:else>
                <div class="no-news-found">
                    <f:translate key="list_nonewsfound" />
                </div>
            </f:else>
        </f:if>
    </f:if>
    <f:if condition="{settings.templateLayout} == 5">
        <f:if condition="{news}">
            <f:then>
                <div class="container py-5" id="news-container-{contentObjectData.uid}">
                    <div class="row">
                        <div class="col-12 col-lg-3 col-xl-2">
                            <div class="classified_filter">

                            </div>
                        </div>
                        <div class="col-12 col-lg-9 col-xl-10">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <f:render partial="List/Item"
                                    arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                            </f:for>
                        </div>
                    </div>
                </div>
            </f:then>
            <f:else>
                <div class="no-news-found">
                    <f:translate key="list_nonewsfound" />
                </div>
            </f:else>
        </f:if>
    </f:if>
    <f:if condition="{settings.templateLayout} == 6">
        <f:if condition="{news}">
            <f:then>
                <div class="news-list-view tales" id="news-container-{contentObjectData.uid}">
                    <f:if condition="{settings.hidePagination}">
                        <f:then>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-2 d-none d-md-block no-padding">
                                        <h1
                                            style="font-size: 18px; color: #FFD; padding: 10px; background-color: #5a7292;">
                                            Bogdányi mesekalendárium 2023</h1>
                                        <f:for each="{news}" as="newsItem" iteration="iterator">
                                            <f:render partial="List/Item"
                                                arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                        </f:for>
                                    </div>
                                    <div class="col-12 col-md-10 no-padding">
                                        <div id="list-map_tales"></div>
                                    </div>
                                </div>
                            </div>

                        </f:then>
                        <f:else>
                            <f:if condition="{settings.list.paginate.insertAbove}">
                                <f:render partial="List/Pagination"
                                    arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                            </f:if>
                            <f:for each="{pagination.paginator.paginatedItems}" as="newsItem" iteration="iterator">
                                <f:render partial="List/Item"
                                    arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                            </f:for>
                            <f:if condition="{settings.list.paginate.insertBelow}">
                                <f:render partial="List/Pagination"
                                    arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                            </f:if>
                        </f:else>
                    </f:if>
                </div>
            </f:then>
            <f:else>
                <div class="no-news-found">
                    Hamarosan
                </div>
            </f:else>
        </f:if>
    </f:if>
    <!--TYPO3SEARCH_begin-->
</f:section>

</html>
