{namespace events=GeorgRinger\Eventnews\ViewHelpers}
{namespace n=GeorgRinger\News\ViewHelpers}
<f:layout name="General" />

<f:section name="content">
    <div class="container-fluid event-calendar_wrapper">
        <div class="row event-calendar">
            <div class="col-md-2">
                <f:comment>
                    <f:form method="post" action="month" object="{search}" name="search"
                        arguments="{overwriteDemand:overwriteDemand}">
                        <input type="hidden" name="id" value="{currentPageId}" />
                        <h4>
                            Szervező
                        </h4>
                        <ul style="list-style: none">
                            <events:filter.organizer organizers="{allOrganizers}" news="{news}" as="filteredOrganizers">
                                <f:for each="{filteredOrganizers}" as="organizer">
                                    <li>
                                        <label>
                                            <f:form.checkbox property="organizers.{organizer.uid}"
                                                value="{organizer.uid}" />
                                            {organizer.title}
                                        </label>
                                    </li>
                                </f:for>
                            </events:filter.organizer>
                        </ul>

                        <h4>
                            Település
                        </h4>
                        <ul style="list-style: none">
                            <events:filter.location locations="{allLocations}" news="{news}" as="filteredEvents">
                                <f:for each="{filteredEvents}" as="location">
                                    <li>
                                        <label>
                                            <f:form.checkbox property="locations.{location.uid}"
                                                value="{location.uid}" />
                                            {location.title}
                                        </label>
                                    </li>
                                </f:for>
                            </events:filter.location>
                        </ul>

                        <h4>
                            <f:translate key="categories" extensionName="eventnews" />
                        </h4>
                        <ul style="list-style: none">
                            <f:for each="{allCategories}" as="category">
                                <li>
                                    <label>
                                        <f:form.checkbox property="categories.{category.uid}" value="{category.uid}" />
                                        {category.title}
                                    </label>
                                </li>
                            </f:for>
                        </ul>
                        <h4>
                            Tagek
                        </h4>
                        <ul style="list-style: none">
                            <f:for each="{allTags}" as="tag">
                                <li>
                                    <label>
                                        <f:form.checkbox property="tags.{tag.uid}" value="{tag.uid}" />
                                        {tag.title}
                                    </label>
                                </li>
                            </f:for>
                        </ul>
                        <div class="form-group">
                            <label for="searchDateFrom">
                                Szűrés kezdete
                            </label>
                            <f:form.textfield property="searchDateFrom" id="searchDateFrom" type="date" />
                        </div>
                        <div class="form-group">
                            <label for="searchDateTo">
                                Szűrés vége
                            </label>
                            <f:form.textfield property="searchDateTo" id="searchDateTo" type="date" />
                        </div>


                        <f:form.submit value="Szűrés" class="btn btn-default" />
                    </f:form>
                </f:comment>
                <div class="event-filter">
                    <h3>Település</h3>
                    <ul class="event-filter_locations">
                        <events:filter.location locations="{allLocations}" news="{news}" as="filteredEvents">
                            <f:for each="{allLocations}" as="location">
                                <li>
                                    <label>
                                        <f:form.checkbox class="location-filter" property="locations.{location.uid}"
                                            value="{location.uid}" />
                                        {location.title}
                                    </label>
                                </li>
                            </f:for>
                        </events:filter.location>
                    </ul>
                </div>
            </div>
            <div class="col-md-5">
                <f:comment>
                    <h2>
                        <f:translate key="calendar" extensionName="eventnews" />
                    </h2>
                </f:comment>
                <events:calendar newsList="{newsWithNoDaySupport}" demand="{demand}" firstDayOfWeek="1">
                    <table class="table">
                        <tr class="title">
                            <th colspan="7">
                                <ul class="pager">
                                    <li class="previous">
                                        <f:link.action controller="News" action="month"
                                            arguments="{overwriteDemand:{month:previousMonthData.month,year:previousMonthData.year}}"
                                            pageUid="{currentPageId}" rel="nofollow">
                                            &larr; {f:format.date(date:previousMonthData.date,format:'%Y. %B')}
                                        </f:link.action>
                                    </li>
                                    <li>{f:format.date(date:currentMonthData.date,format:'%Y. %B ')}</li>
                                    <li class="next">
                                        <f:link.action controller="News" action="month"
                                            arguments="{overwriteDemand:{month:nextMonthData.month,year:nextMonthData.year}}"
                                            pageUid="{currentPageId}" rel="nofollow">
                                            {f:format.date(date:nextMonthData.date,format:'%Y. %B')} &rarr;
                                        </f:link.action>
                                    </li>
                                </ul>
                            </th>
                        </tr>
                        <tr class="days">
                            <f:for each="{weeks.0}" as="day">
                                <th>
                                    {f:format.date(date: day.ts, format: '%a')}
                                </th>
                            </f:for>
                        </tr>
                        <f:for each="{weeks}" as="week">
                            <tr>
                                <f:for each="{week}" as="day">
                                    <f:render section="calday"
                                        arguments="{day:day, settings:settings, overwriteDemand: overwriteDemand}" />
                                </f:for>
                            </tr>
                        </f:for>
                    </table>
                </events:calendar>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <f:for each="{news}" as="n">
                        <f:if condition="{overwriteDemand.day}">
                            <f:then>
                                <f:if condition="{events:dayCompare(newsItem:n,demand:demand)}">
                                    <f:render section="listItem" arguments="{_all}" />
                                </f:if>
                            </f:then>
                            <f:else>
                                <f:render section="listItem" arguments="{_all}" />
                            </f:else>
                        </f:if>

                    </f:for>
                </div>
            </div>
        </div>
    </div>
</f:section>

<f:section name="listItem">
    <div class="col-md-12 event-calendar_list-item" data-location="{n.location.uid}" style="border: 1px solid #ccc;">
        <div class="row">
            <f:if condition="{n.falMedia}">
                <div class="col-2">
                    <f:image image="{n.falMedia.0}" width="162" />
                </div>
            </f:if>
            <div class="col-10">
                <strong>
                    <n:link class="title" newsItem="{n}" settings="{settings}">{n.title}</n:link>
                    - {f:format.date(date:n.datetime,format:'%B %d.')}
                </strong>
                <ul>

                    <f:if condition="{n.location}">
                        <li>
                            <f:if condition="{n.location.title}">{n.location.title}</f:if>
                            <f:if condition="{n.organizer.title}">- <f:link.typolink target="_blank"
                                    parameter="{n.organizer.link}">
                                    {n.organizer.title}</f:link.typolink>
                            </f:if>
                        </li>
                    </f:if>
                    <f:if condition="{n.teaser}">
                        <li>{n.teaser}
                        </li>
                    </f:if>
                    <f:comment>
                        <f:if condition="{n.eventEnd}">
                            <li>
                                <strong>
                                    <f:translate key="event_end" extensionName="eventnews" />
                                </strong>: {f:format.date(date:n.eventEnd,format:'%d.%m.%Y')}
                            </li>
                        </f:if>
                    </f:comment>
                </ul>
            </div>
        </div>

    </div>
</f:section>

<f:section name="calday">
    <td
        class="day{f:format.date(date: day.ts, format: 'N')}{f:if(condition: day.curmonth, then: ' curmonth', else: ' othermonth')}{f:if(condition: day.news, then: ' hasevents')}{f:if(condition: day.curday, then: ' today')}{f:if(condition: '{overwriteDemand.day} == {day.day}', then: ' activeday')}">
        <f:if condition="{day.dayBelongsToCurrentMonth}">
            <f:if condition="{day.news}">
                <f:then>
                    <f:link.action action="month" addQueryString="1"
                        additionalParams="{tx_news_pi1:{overwriteDemand:{year:day.year,month:day.month,day:day.day}}}">
                        <span class="event-link">
                            <strong>{day.day}</strong>

                            <span class="event-count">
                                {day.news -> f:count()}
                            </span>
                            <f:for each="{day.news}" as="newsItem">
                                <span class="day-event" data-location="{newsItem.location.uid}"></span>
                            </f:for>
                        </span>
                    </f:link.action>
                </f:then>
                <f:else>
                    {day.day}
                </f:else>
            </f:if>
        </f:if>
    </td>
</f:section>