<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<f:form.validationResults for="{element.rootForm.identifier}.{element.identifier}">
  <div class="form-group{f:if(condition: '{validationResults.errors.0}', then: ' has-error')}">

    <div class="input-group">

      <f:if condition="!{labelClass}">
        <f:variable name="labelClass" value="label-inline"/>
      </f:if>
      <f:if condition="!{elementId}">
        <f:variable name="elementId" value="{element.uniqueIdentifier}"/>
      </f:if>
      <f:format.raw>
        {elementContent}
      </f:format.raw>
      <label for="{elementId}">{element.label}</label>
      <f:if condition="{element.properties.elementDescription}">
        <span class="help-block">{formvh:translateElementProperty(element: element, property: 'elementDescription')}</span>
      </f:if>
    </div>
    <f:format.raw>
      <f:if condition="{validationResults.flattenedErrors}">
        <div class="alert alert-danger no-bg" role="alert">
          <f:for each="{validationResults.errors}" as="error">
            <i class="fa fa-remove"></i><strong>{formvh:translateElementError(element: element, error: error)}</strong>
            <br/>
          </f:for>
        </div>
      </f:if>
    </f:format.raw>
  </div>
</f:form.validationResults>

</html>
