<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{header}">

  <f:switch expression="{layout}">
    <f:case value="1">
      <h1 {f:if(condition: '{additionalClass}', then: 'class="{additionalClass}"')}>
      {header}
      </h1>
    </f:case>
    <f:case value="2">
      <h2 {f:if(condition: '{additionalClass}', then: 'class="{additionalClass}"')}>
      {header}
      </h2>
    </f:case>
    <f:case value="3">
      <h3 {f:if(condition: '{additionalClass}', then: 'class="{additionalClass}"')}>
      {header}
      </h3>
    </f:case>
    <f:case value="4">
      <h4 {f:if(condition: '{additionalClass}', then: 'class="{additionalClass}"')}>
      {header}
      </h4>
    </f:case>

    <f:case value="100">
      <f:comment> -- do not show header --</f:comment>
    </f:case>

    <f:defaultCase>
      <h2 {f:if(condition: '{additionalClass}', then: 'class="{additionalClass}"')}>
      {header}
      </h2>
    </f:defaultCase>

  </f:switch>

</f:if>

</html>