@font-face {
    font-family: 'Crete Round';
    src: url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/CreteRound-Italic.woff2') format('woff2'),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/CreteRound-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/OpenSans-SemiBoldItalic.woff2') format('woff2'),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/OpenSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local("Open Sans Bold"),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/OpenSans-Bold.woff2') format('woff2'),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local("Roboto Italic"),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/Roboto-Italic.woff2') format('woff2'),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/Roboto-MediumItalic.woff2') format('woff2'),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local("Open Sans Bold Italic"),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/OpenSans-BoldItalic.woff2') format('woff2'),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/OpenSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/OpenSans-Light.woff2') format('woff2'),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/Roboto-Black.woff2') format('woff2'),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/OpenSans-ExtraBold.woff2') format('woff2'),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/OpenSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/Roboto-Thin.woff2') format('woff2'),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crete Round';
    src: local("Crete Round"),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/CreteRound-Regular.woff2') format('woff2'),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/CreteRound-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/Roboto-Medium.woff2') format('woff2'),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/Roboto-LightItalic.woff2') format('woff2'),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local("Open Sans"),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/OpenSans-Regular.woff2') format('woff2'),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: local("Open Sans Italic"),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/OpenSans-Italic.woff2') format('woff2'),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/OpenSans-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/Roboto-BlackItalic.woff2') format('woff2'),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/Roboto-Light.woff2') format('woff2'),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/Roboto-ThinItalic.woff2') format('woff2'),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/Roboto-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/OpenSans-LightItalic.woff2') format('woff2'),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/OpenSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local("Roboto Bold"),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/Roboto-Bold.woff2') format('woff2'),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local("Roboto Bold Italic"),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/Roboto-BoldItalic.woff2') format('woff2'),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local("Roboto"),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/Roboto-Regular.woff2') format('woff2'),
    url('/typo3conf/ext/rnp_base/Resources/Public/assets/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

