<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="form-group border">
  <label for="title">
    Cím</label>
  <f:form.textfield property="title" id="title" class="form-control"
    additionalAttributes="{data-parsley-trigger:'change focusout', required:''}" />
</div>

<div class="form-group border">
  <label for="teaser">
    Rövid leírás
  <f:form.textarea property="teaser" id="teaser" class="form-control" rows="2" />
</div>

<div class="form-group">
  <label for="bodytext">
    Leírás</label>
  <f:form.textarea property="bodytext" id="bodytext" class="form-control tinymce" rows="5"
    additionalAttributes="{data-parsley-trigger:'change focusout', required:''}" />
</div>

<fieldset class="form-group border">
  <legend>
    <f:translate key="image_legend" />
  </legend>

  <div class="form-group">
    <label for="falMedia">
      <f:translate key="image" />({settings.allowed_falMedia}{f:if(condition:'{settings.allowed_falMedia_size}',then:',
      {f:translate(key: \'image_max_filesize\', arguments: {0: \'{settings.allowed_falMedia_size}\'})}')})
    </label>
    <f:form.upload name="falMedia" id="falMedia" class="form-control-file"
      additionalAttributes="{f:if(condition:'{settings.allowed_falMedia_size}',then:'{data-parsley-trigger:\'change focusout\', data-parsley-max-file-size:\'{settings.allowed_falMedia_size}\'}')}" />
    <f:if condition="{news.falMedia}">
      <f:for each="{news.falMedia}" as="media" iteration="iterator">
        <div>
          <div>
            <f:image image="{media}" alt="" maxWidth="100" />
          </div>
          <f:form.checkbox name="falMedia[delete]" checked="0" value="1" id="falMediaDelete" />
          <label for="falMediaDelete">
            <f:translate key="image_delete" /></label>
        </div>
        <div class="form-group">
          <label for="falMediaTitle">
            <f:translate key="image_title" /></label>
          <f:form.textfield name="falMedia[title]" id="falMediaTitle" value="{news.firstFalMedia.title}"
            class="form-control" />
        </div>
        <div class="form-group">
          <label for="falMediaDescription">
            <f:translate key="image_description" /></label>
          <f:form.textfield name="falMedia[description]" value="{news.firstFalMedia.description}"
            id="falMediaDescription" class="form-control" />
        </div>
      </f:for>
    </f:if>
  </div>


  <f:comment>

    <div class="form-group">
      <label for="showinpreview">
        <f:translate key="image_showinpreview" /></label>

      <f:form.select name="falMedia[showinpreview]" options="{showinpreviewOptions}"
        value="{news.firstFalMedia.showinpreview}" id="showinpreview" class="form-control" />
    </div>
  </f:comment>
</fieldset>
<fieldset>

  <div class="form-group">
    <label for="categories">
      <f:translate key="categories" /></label>
  
    <f:form.select property="categories" options="{categories}" optionValueField="uid" optionLabelField="title"
      id="categories" class="form-control" size="1" />
  </div>
</fieldset> 
<f:comment>
  <fieldset>
      <div class="form-group">
        <label for="size">
          <f:translate key="size" /></label>
      
        <f:form.select property="txEmmabaseSize" options="{50: '50', 56: '56', 62: '62'}"
          id="size" class="form-control" size="1" />
      </div>
  </fieldset>
</f:comment>

<div class="form-group">
  <label for="archive">
    <f:translate key="archive" /></label>
  <f:form.textfield property="archive" value="{news.archive -> f:format.date(format: 'd.m.Y')}" id="archive"
    class="form-control flatpickr" additionalAttributes="{placeholder:'DD.MM.YYYY'}" />
</div>

<fieldset class="form-group border p-3">
  <legend>
    <f:translate key="metadata_legend" />
  </legend>

  <div class="form-group">
    <label for="author">
      <f:translate key="metadata_author" /></label>
    <f:form.textfield property="author" value="{user.name}" id="author" class="form-control" additionalAttributes="{disabled: 'disabled'}"/>
  </div>

  <div class="form-group">
    <label for="authorEmail">
      <f:translate key="metadata_authorEmail" /></label>
    <f:form.textfield property="authorEmail" value="{user.email}" id="authorEmail" class="form-control" additionalAttributes="{disabled: 'disabled'}"/>
  </div>

  <div class="form-group">
    <label for="keywords">
      <f:translate key="metadata_keywords" /></label>
    <f:form.textfield property="keywords" id="keywords" class="form-control" />
  </div>

  <div class="form-group">
    <label for="description">
      <f:translate key="metadata_description" /></label>
    <f:form.textarea property="description" id="description" class="form-control" rows="2" />
  </div>

</fieldset>

</html>