<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="col-6 mb-3 {fieldName}">
    <f:form.submit value="{f:translate(id:'submit_create')}" class="btn btn-primary" />
</div>

</html>