<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="main">
<f:flashMessages />

<f:if condition="{error} > 0">
<f:then>
	<f:if condition="{error} == 1">
		<p class="alert alert-danger">{f:translate(key: 'wrong_parameter', default: 'wrong parameters')}</p>
	</f:if>
	<f:if condition="{error} == 2">
		<p class="alert alert-danger">{f:translate(key: 'wrong_uid', default: 'wrong uid parameter')}</p>
	</f:if>
	<f:if condition="{error} == 3">
		<p class="alert alert-danger">{f:translate(key: 'wrong_hash', default: 'wrong hash parameter')}</p>
	</f:if>
	<f:if condition="{error} == 4">
		<p class="alert alert-danger">{f:translate(key: 'wrong_expired', default: 'hash expired')}</p>
	</f:if>
	<f:if condition="{error} == 5">
		<p class="alert alert-danger">{f:translate(key: 'wrong_verified', default: 'you are verified')}</p>
	</f:if>
	<f:if condition="{error} == 6">
		<p class="alert alert-danger">{f:translate(key: 'wrong_subscribed', default: 'you are already subscribed')}</p>
	</f:if>
	<f:if condition="{error} == 8">
		<p class="alert alert-danger">{f:translate(key: 'wrong_email', default: 'ivalid email')}</p>
	</f:if>
	<f:if condition="{error} == 9">
		<p class="alert alert-danger">{f:translate(key: 'wrong_captcha', default: 'ivalid captcha')}</p>
	</f:if>
	<f:if condition="{error} == 10">
		<p class="alert alert-danger">{f:translate(key: 'wrong_honeypot', default: 'spam detected')}</p>
	</f:if>
	<p><a href="javascript:history.back();">{f:translate(key: 'go_back')}</a></p>
</f:then>
<f:else>
  <h3 class="text-center">Köszönjük a jelentkezést!</h3>
	<p class="text-center">A megadott e-mail címre elküldtük a hírlevél felirakozás véglegesítéséhez szükséges linket.</p>

	<f:if condition="{settings.resendVerificationUid}">
		<br/><p><f:link.page pageUid="{settings.resendVerificationUid}">{f:translate(key: 'resendLink', default: 'resend')}</f:link.page></p>
	</f:if>
</f:else>
</f:if>
</f:section>
</html>