<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{media}">
  <!-- media files -->
  <div class="owl-carousel">
    <f:for each="{media}" as="mediaElement">
      <div class="outer">
        <a href="/fileadmin/{mediaElement.originalResource.originalFile.identifier}">
          <f:image image="{mediaElement}" title="{mediaElement.title}" alt="{mediaElement.alternative}"
            loading="lazyLoading" width="628c" height="353" additionalAttributes="{itemprop:'image'}" />
      </a>
      </div>
    </f:for>
  </div>
</f:if>

</html>