<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers" data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Item.html
-->

<f:comment>
    <div class="article articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}"
        itemscope="itemscope" itemtype="https://schema.org/Article">
        <n:excludeDisplayedNews newsItem="{newsItem}" />
        <!-- header -->
        <div class="header">
            <h3>
                <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                    <span itemprop="headline">{newsItem.title}</span>
                </n:link>
            </h3>
        </div>

        <f:if condition="{newsItem.mediaPreviews}">
            <!-- media preview element -->
            <f:then>
                <div class="news-img-wrap">
                    <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                        <f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
                            <f:if condition="{mediaElement.originalResource.type} == 2">
                                <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}"
                                    alt="{mediaElement.originalResource.alternative}"
                                    loading="{settings.list.media.image.lazyLoading}"
                                    maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}"
                                    maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}" />
                            </f:if>
                            <f:if condition="{mediaElement.originalResource.type} == 4">
                                <f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}" />
                            </f:if>
                            <f:if condition="{mediaElement.originalResource.type} == 5">
                                <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}"
                                    alt="{mediaElement.originalResource.alternative}"
                                    loading="{settings.list.media.image.lazyLoading}"
                                    maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}"
                                    maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}" />
                            </f:if>
                        </f:alias>
                    </n:link>
                </div>
            </f:then>
            <f:else>
                <f:if condition="{settings.displayDummyIfNoMedia}">
                    <div class="news-img-wrap">
                        <span class="no-media-element">
                            <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                                <f:image src="{settings.list.media.dummyImage}" title="" alt=""
                                    loading="{settings.list.media.image.lazyLoading}"
                                    maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}"
                                    maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}" />
                            </n:link>
                        </span>
                    </div>
                </f:if>
            </f:else>
        </f:if>


        <!-- teaser -->
        <div class="teaser-text">
            <n:removeMediaTags>
                <f:if condition="{newsItem.teaser}">
                    <f:then>
                        <div itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters:
                            '{settings.cropMaxCharacters}',
                            respectWordBoundaries:'1') -> f:format.html()}</div>
                    </f:then>
                    <f:else>
                        <div itemprop="description">{newsItem.bodytext -> f:format.crop(maxCharacters:
                            '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
                    </f:else>
                </f:if>
            </n:removeMediaTags>

            <n:link newsItem="{newsItem}" settings="{settings}" class="more" title="{newsItem.title}">
                <f:translate key="more-link" />
            </n:link>
        </div>

        <!-- footer information -->
        <div class="footer">
            <p>
                <!-- date -->
                <span class="news-list-date">
                    <time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
                        <f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
                    </time>
                </span>

                <f:if condition="{newsItem.firstCategory}">
                    <!-- first category -->
                    <span class="news-list-category">{newsItem.firstCategory.title}</span>
                </f:if>

                <f:if condition="{newsItem.tags}">
                    <!-- Tags -->
                    <span class="news-list-tags" itemprop="keywords">
                        <f:for each="{newsItem.tags}" as="tag">
                            {tag.title}
                        </f:for>
                    </span>
                </f:if>

                <!-- author -->
                <f:if condition="{newsItem.author}">
                    <span class="news-list-author">
                        <f:translate key="author" arguments="{0:newsItem.author}" />
                    </span>
                </f:if>
            </p>
        </div>
    </div>
</f:comment>
<f:if condition="{settings.templateLayout} == 1">
    <f:then>
        <div class="post post-list-sm col-12 col-sm-6 col-lg-4">
            <div class="post_inner">
                <div class="thumb">
                    <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                        <div class="inner">
                            <f:if condition="{newsItem.falMedia}">
                                <!-- media preview element -->
                                <f:then>
                                    <div class="news-img-wrap">
                                        <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                                            <f:alias map="{mediaElement: newsItem.falMedia.0}">
                                                <f:if condition="{mediaElement.originalResource.type} == 2">
                                                    <f:image image="{mediaElement}"
                                                        title="{mediaElement.originalResource.title}"
                                                        alt="{mediaElement.originalResource.alternative}"
                                                        loading="{settings.list.media.image.lazyLoading}" height="500c"
                                                        width="400c" />
                                                </f:if>
                                                <f:if condition="{mediaElement.originalResource.type} == 4">
                                                    <f:render partial="Detail/MediaVideo"
                                                        arguments="{mediaElement: mediaElement}" />
                                                </f:if>
                                                <f:if condition="{mediaElement.originalResource.type} == 5">
                                                    <f:image image="{mediaElement}"
                                                        title="{mediaElement.originalResource.title}"
                                                        alt="{mediaElement.originalResource.alternative}"
                                                        loading="{settings.list.media.image.lazyLoading}"
                                                        maxWidth="300c" maxHeight="169c" />
                                                </f:if>
                                            </f:alias>
                                        </n:link>
                                    </div>
                                </f:then>
                                <f:else>
                                    <f:if condition="{settings.displayDummyIfNoMedia}">
                                        <div class="news-img-wrap">
                                            <span class="no-media-element">
                                                <n:link newsItem="{newsItem}" settings="{settings}"
                                                    title="{newsItem.title}">
                                                    <f:image src="{settings.list.media.dummyImage}" title="" alt=""
                                                        loading="{settings.list.media.image.lazyLoading}"
                                                        maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}"
                                                        maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}" />
                                                </n:link>
                                            </span>
                                        </div>
                                    </f:if>
                                </f:else>
                            </f:if>

                        </div>
                    </n:link>
                </div>

                <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                    <div class="details clearfix">
                        <f:if condition="{newsItem.title}">
                            <h6 class="post-title my-0">
                                <span itemprop="headline">{newsItem.title}</span>
                            </h6>
                        </f:if>
                        <f:if condition="{newsItem.txEmmabaseLocation}">
                            <span class="post_address">
                                {newsItem.txEmmabaseLocation}
                            </span>
                        </f:if>
                        <f:if condition="{newsItem.teaser}">
                            <p class="details_text">
                                {newsItem.teaser}
                            </p>
                        </f:if>
                        <f:if condition="{newsItem.teaser}">
                            <p class="details_text">
                                {newsItem.teaser}
                            </p>
                        </f:if>
                    </div>
                </n:link>
            </div>
        </div>
    </f:then>
</f:if>

<f:if condition="{settings.templateLayout} == 33">

    <f:then>
        <div class="post post-list-sm circle category-{newsItem.categories.0.uid}" data-gps="{newsItem.txEmmabaseGps}"
            data-title="{newsItem.title}" id="post-{newsItem.uid}">
            <div class="thumb">
                <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                    <div class="inner">
                        <f:if condition="{newsItem.falMedia}">
                            <!-- media preview element -->
                            <f:then>
                                <div class="news-img-wrap">
                                    <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                                        <f:alias map="{mediaElement: newsItem.falMedia.0}">
                                            <f:if condition="{mediaElement.originalResource.type} == 2">
                                                <f:image image="{mediaElement}"
                                                    title="{mediaElement.originalResource.title}"
                                                    alt="{mediaElement.originalResource.alternative}"
                                                    loading="{settings.list.media.image.lazyLoading}" height="100c"
                                                    width="100c" />
                                            </f:if>
                                            <f:if condition="{mediaElement.originalResource.type} == 4">
                                                <f:render partial="Detail/MediaVideo"
                                                    arguments="{mediaElement: mediaElement}" />
                                            </f:if>
                                            <f:if condition="{mediaElement.originalResource.type} == 5">
                                                <f:image image="{mediaElement}"
                                                    title="{mediaElement.originalResource.title}"
                                                    alt="{mediaElement.originalResource.alternative}"
                                                    loading="{settings.list.media.image.lazyLoading}" maxWidth="100c"
                                                    maxHeight="100c" />
                                            </f:if>
                                        </f:alias>
                                    </n:link>
                                </div>
                            </f:then>
                            <f:else>
                                <f:if condition="{settings.displayDummyIfNoMedia}">
                                    <div class="news-img-wrap">
                                        <span class="no-media-element">
                                            <n:link newsItem="{newsItem}" settings="{settings}"
                                                title="{newsItem.title}">
                                                <f:image src="{settings.list.media.dummyImage}" title="" alt=""
                                                    loading="{settings.list.media.image.lazyLoading}"
                                                    maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}"
                                                    maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}" />
                                            </n:link>
                                        </span>
                                    </div>
                                </f:if>
                            </f:else>
                        </f:if>

                    </div>
                </n:link>
            </div>

            <div class="details clearfix">
                <h6 class="post-title my-0">
                    <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                        <span itemprop="headline">{newsItem.title}</span>
                    </n:link>
                </h6>
                <ul class="meta list-inline mt-1 mb-0">
                    <li class="list-inline-item">{newsItem.txEmmabaseLocation}</li>
                </ul>
            </div>
        </div>

    </f:then>
</f:if>

<f:if condition="{settings.templateLayout} == 5">
    <div class="classified-ad">
        <div class="classified-ad_inner row">
            <div class="classified_thumb col-12 col-lg-5 col-xl-3 mb-4">
                <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                    <div class="classified_thumb_inner">
                        <f:if condition="{newsItem.falMedia}">
                            <!-- media preview element -->
                            <f:then>
                                <div class="news-img-wrap">
                                    <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                                        <f:alias map="{mediaElement: newsItem.falMedia.0}">
                                            <f:if condition="{mediaElement.originalResource.type} == 2">
                                                <f:image image="{mediaElement}"
                                                    title="{mediaElement.originalResource.title}"
                                                    alt="{mediaElement.originalResource.alternative}"
                                                    loading="{settings.list.media.image.lazyLoading}" height="250c"
                                                    width="250c" />
                                            </f:if>
                                            <f:if condition="{mediaElement.originalResource.type} == 4">
                                                <f:render partial="Detail/MediaVideo"
                                                    arguments="{mediaElement: mediaElement}" />
                                            </f:if>
                                            <f:if condition="{mediaElement.originalResource.type} == 5">
                                                <f:image image="{mediaElement}"
                                                    title="{mediaElement.originalResource.title}"
                                                    alt="{mediaElement.originalResource.alternative}"
                                                    loading="{settings.list.media.image.lazyLoading}" maxWidth="300c"
                                                    maxHeight="169c" />
                                            </f:if>
                                        </f:alias>
                                    </n:link>
                                </div>
                            </f:then>
                            <f:else>
                                <f:if condition="{settings.displayDummyIfNoMedia}">
                                    <div class="news-img-wrap">
                                        <span class="no-media-element">
                                            <n:link newsItem="{newsItem}" settings="{settings}"
                                                title="{newsItem.title}">
                                                <f:image src="{settings.list.media.dummyImage}" title="" alt=""
                                                    loading="{settings.list.media.image.lazyLoading}"
                                                    maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}"
                                                    maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}" />
                                            </n:link>
                                        </span>
                                    </div>
                                </f:if>
                            </f:else>
                        </f:if>

                    </div>
                </n:link>
            </div>
            <div class="col-12 col-lg-7 col-xl-9">
                <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                    <div class="classified-ad_details clearfix">
                        <f:if condition="{newsItem.title}">
                            <h6 class="classified-ad_title my-0">
                                <span itemprop="headline">{newsItem.title}</span>
                            </h6>
                        </f:if>
                        <f:if condition="{newsItem.txEmmabaseLocation}">
                            <span class="classified-adt_address">
                                {newsItem.txEmmabaseLocation}
                            </span>
                        </f:if>
                        <f:if condition="{newsItem.teaser}">
                            <p class="classified-ad_text">
                                {newsItem.teaser}
                            </p>
                        </f:if>
                    </div>
                </n:link>
            </div>

        </div>
    </div>
</f:if>

<f:if condition="{settings.templateLayout} == 6">

    <f:then>
        <div class="tales-item post post-list-sm circle category-{newsItem.categories.0.uid}"
            data-gps="{newsItem.txEmmabaseGps}" data-title="{newsItem.title}" id="post-{newsItem.uid}"
            data-date="{f:format.date(date: '{newsItem.datetime}', format: 'Y-m-d')}"
            data-address="{newsItem.txEmmabaseLocation}"
            data-bodytext="{f:if(condition: newsItem.bodytext, then: 1, else: 0)}"
            data-image="{f:if(condition: newsItem.falmedia, then: 1, else: 0)}">
            <f:comment>
                <div class="thumb">
                    <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                        <div class="inner">
                            <f:if condition="{newsItem.falMedia}">
                                <!-- media preview element -->
                                <f:then>
                                    <div class="news-img-wrap">
                                        <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                                            <f:alias map="{mediaElement: newsItem.falMedia.0}">
                                                <f:if condition="{mediaElement.originalResource.type} == 2">
                                                    <f:image image="{mediaElement}"
                                                        title="{mediaElement.originalResource.title}"
                                                        alt="{mediaElement.originalResource.alternative}"
                                                        loading="{settings.list.media.image.lazyLoading}" height="100c"
                                                        width="100c" />
                                                </f:if>
                                                <f:if condition="{mediaElement.originalResource.type} == 4">
                                                    <f:render partial="Detail/MediaVideo"
                                                        arguments="{mediaElement: mediaElement}" />
                                                </f:if>
                                                <f:if condition="{mediaElement.originalResource.type} == 5">
                                                    <f:image image="{mediaElement}"
                                                        title="{mediaElement.originalResource.title}"
                                                        alt="{mediaElement.originalResource.alternative}"
                                                        loading="{settings.list.media.image.lazyLoading}"
                                                        maxWidth="100c" maxHeight="100c" />
                                                </f:if>
                                            </f:alias>
                                        </n:link>
                                    </div>
                                </f:then>
                                <f:else>
                                    <f:if condition="{settings.displayDummyIfNoMedia}">
                                        <div class="news-img-wrap">
                                            <span class="no-media-element">
                                                <n:link newsItem="{newsItem}" settings="{settings}"
                                                    title="{newsItem.title}">
                                                    <f:image src="{settings.list.media.dummyImage}" title="" alt=""
                                                        loading="{settings.list.media.image.lazyLoading}"
                                                        maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}"
                                                        maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}" />
                                                </n:link>
                                            </span>
                                        </div>
                                    </f:if>
                                </f:else>
                            </f:if>

                        </div>
                    </n:link>
                </div>
            </f:comment>

            <div class="details clearfix">
                <h6 class="post-title my-0">
                    <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                        <span itemprop="headline">{newsItem.title}</span>
                    </n:link>
                </h6>
                <ul class="meta list-inline mt-1 mb-0">
                    <li class="list-inline-item">{newsItem.txEmmabaseLocation}</li>
                </ul>
                <span class="date small">
                    <f:format.date format="%Y. %B %d.">{newsItem.datetime}</f:format.date>
                </span>
            </div>
        </div>

    </f:then>
</f:if>

</html>