<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
-->

<f:section name="content">
  <!--TYPO3SEARCH_end-->
  
  <f:if condition="{news}">
    <f:then>
      <div class="news-list-view" id="news-container-{contentObjectData.uid}">
        <f:if condition="{settings.hidePagination}">
          <f:then>
            <ul class="list-group mb-3">
              <f:for each="{news}" as="newsItem" iteration="iterator">
                <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
              </f:for>
            </ul>
          </f:then>
          <f:else>
            <f:if condition="{settings.list.paginate.insertAbove}">
              <f:render partial="List/Pagination"
                arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
            </f:if>
            <ul class="list-group mb-3">
              <f:for each="{pagination.paginator.paginatedItems}" as="newsItem" iteration="iterator">
                <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
              </f:for>
            </ul>
            <f:if condition="{settings.list.paginate.insertBelow}">
              <f:render partial="List/Pagination"
                arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
            </f:if>
          </f:else>
        </f:if>
      </div>
    </f:then>
    <f:else>
      <div class="alert ">
        <f:translate key="list_nonewsfound" />
      </div>
    </f:else>
  </f:if>
  <!--TYPO3SEARCH_begin-->
</f:section>

</html>