<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{data.header_layout} != 100">
	<f:if condition="{data.header} || {data.subheader} || {data.date}">
		<header class="section-head text-center p-t50">
			<f:render partial="Header/Header" arguments="{
				header: data.header,
				layout: data.header_layout,
				link: data.header_link,
				default: settings.defaultHeaderType}" />
		</header>
	</f:if>
</f:if>
</html>
