<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{header}">
	<f:switch expression="{layout}">
		<f:case value="1">
			<h1 class="header-title">
				<f:link.typolink parameter="{link}">{header}</f:link.typolink>
			</h1>
		</f:case>
		<f:case value="2">
			<h2 class="header-title">
				<f:link.typolink parameter="{link}">{header}</f:link.typolink>
			</h2>
		</f:case>
		<f:case value="3">
			<h3 class="header-title">
				<f:link.typolink parameter="{link}">{header}</f:link.typolink>
			</h3>
		</f:case>
		<f:case value="4">
			<h4 class="header-title">
				<f:link.typolink parameter="{link}">{header}</f:link.typolink>
			</h4>
		</f:case>
		<f:case value="5">
			<h5 class="header-title">
				<f:link.typolink parameter="{link}">{header}</f:link.typolink>
			</h5>
		</f:case>
		<f:case value="6">
			<h6 class="header-title">
				<f:link.typolink parameter="{link}">{header}</f:link.typolink>
			</h6>
		</f:case>
		<f:case value="100">
			<f:comment> -- do not show header -- </f:comment>
		</f:case>
		<f:defaultCase>
			<f:if condition="{default}">
				<f:render partial="Header/Header" arguments="{
					header: header,
					layout: default,
					noSeparator: 'true',
					link: link}" />
			</f:if>
		</f:defaultCase>
	</f:switch>
	<f:if condition="!{noSeparator}">
	<div class="wt-separator-outer">
		<div class="wt-separator style-square">
			<span class="separator-left bg-primary"></span>
			<span class="separator-right bg-primary"></span>
		</div>
	</div>
	</f:if>
</f:if>
</html>
