<!--
  ~ Copyright (c) 2021.
  ~
  ~ @category   TYPO3
  ~
  ~ @copyright  2021 Dirk Persky (https://github.com/DirkPersky)
  ~ @author     Dirk Persky <info@dp-wired.de>
  ~ @license    MIT
  -->

<html data-namespace-typo3-fluid="true"
      xmlns:dp="http://typo3.org/ns/DirkPersky/DpCookieconsent/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<!-- Begin Cookie Consent plugin by Dirk Persky - https://github.com/DirkPersky/typo3-dp_cookieconsent -->
<script type="text/plain" data-ignore="1" data-dp-cookieDesc="layout">
    <f:render partial="CookieDescription" arguments="{_all}" />
</script>
<script type="text/plain" data-ignore="1" data-dp-cookieSelect="layout">
    <f:render partial="CookieSelection" arguments="{_all}" />
</script>
<script type="text/plain" data-ignore="1" data-dp-cookieRevoke="layout">
    <f:render partial="CookieRevoke" arguments="{_all}" />
</script>
<script type="text/plain" data-ignore="1" data-dp-cookieIframe="layout">
    <f:render partial="IframeOverlay" arguments="{_all}" />
</script>
<script type="text/javascript" data-ignore="1">
    window.cookieconsent_options = {
        overlay: {
            notice: <f:format.raw>{settings.overlay.notice}</f:format.raw>,
            box: {
                background: '<f:format.raw>{settings.overlay.box.background}</f:format.raw>',
                text: '<f:format.raw>{settings.overlay.box.text}</f:format.raw>'
            },
            btn: {
                background: '<f:format.raw>{settings.overlay.button.background}</f:format.raw>',
                text: '<f:format.raw>{settings.overlay.button.text}</f:format.raw>'
            }
        },
        content: {
            message:'Cookie',
            dismiss:'Bezár',
            allow:'Elfogad',
            deny: 'Elutasít',
            link:'<f:translate key="link" extensionName="dp_cookieconsent" />',
            href:'<f:uri.page pageUid="{settings.url}" />',
            target:'<f:format.raw>{settings.target}</f:format.raw>',
            'allow-all': 'Mindet elfogad',

            media: {
                notice: '<f:translate key="media.notice" extensionName="dp_cookieconsent" />',
                desc: '<f:translate key="media.desc" extensionName="dp_cookieconsent" />',
                btn: '<f:translate key="media.btn" extensionName="dp_cookieconsent" />',
            }
        },
        theme: '<f:format.raw>{settings.theme}</f:format.raw>',
        position: '<f:format.raw>{settings.position}</f:format.raw>',
        type: '<f:format.raw>{settings.type}</f:format.raw>',
        revokable: <f:format.raw>{settings.revokable}</f:format.raw>,
        reloadOnRevoke: <f:format.raw>{settings.reloadOnRevoke}</f:format.raw>,
        checkboxes: <f:format.raw><dp:Json>{settings.checkboxes}</dp:Json></f:format.raw>,
        palette: {
            popup: {
                background: '<f:format.raw>{settings.palette.popup.background}</f:format.raw>',
                text: '<f:format.raw>{settings.palette.popup.text}</f:format.raw>'
            },
            button: {
                background: '<f:format.raw>{settings.palette.button.background}</f:format.raw>',
                text: '<f:format.raw>{settings.palette.button.text}</f:format.raw>',
            }
        }
    };
</script>
<!-- End Cookie Consent plugin -->
<f:for as="script" each="{dp_cookie_scripts}" iteration="script_iteration">
    <f:render arguments="{script:script, settings:settings}" partial="Script"/>
</f:for>
</html>