<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="section-full p-tb100 bg-gray about-the-company">
  <div class="container">
    <div class="row">

      <div class="col-md-5 col-sm-5 col-xs-6 col-xs-100pc">
        <div class="about-com-pic">
          <div class="wt-box">
            <div class="wt-thum-bx wt-img-effect blurr">
              <f:image src="{data.image.0.uid}" treatIdAsReference="1" alt="{data.image.0.alternative}" class="img-responsive" height="488" width="440" />
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-7 col-sm-7 col-xs-6 col-xs-100pc">
        <div class="section-head text-left">

          <f:if condition="{data.header}">
            <f:render partial="Header" arguments="{header: data.header, layout: data.header_layout, additionalClass: 'text-uppercase'}"/>
          </f:if>

          <div class="wt-separator-outer">
            <div class="wt-separator style-square">
              <span class="separator-left bg-primary"></span>
              <span class="separator-right bg-primary"></span>
            </div>
          </div>
          <f:format.html>{data.bodytext}</f:format.html>
        </div>

        <div class="about-types row">

          <f:for each="{data.tx_mask_square}" as="square">
            <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc p-tb20">
              <div class="wt-icon-box-wraper left">
                <div class="icon-sm text-primary">
                  <span class="icon-cell p-t5 center-block"><i class="{square.tx_mask_icon_name}" aria-hidden="true"></i></span>
                </div>
                <div class="icon-content">
                  <h5 class="wt-tilte text-uppercase m-b0">{square.tx_mask_title}</h5>
                  <p>{square.tx_mask_subtitle}</p>
                </div>
              </div>
            </div>
          </f:for>
        </div>
      </div>
    </div>
  </div>
</div>

</html>