<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="section-full p-t80 p-b50">
  <div class="container">

    <div class="section-head">
      <f:render partial="Header" arguments="{header: data.header, layout: data.header_layout, additionalClass: 'text-uppercase'}"/>
      <div class="wt-separator-outer">
        <div class="wt-separator style-square">
          <span class="separator-left bg-primary"></span>
          <span class="separator-right bg-primary"></span>
        </div>
      </div>

    </div>

    <div class="section-content p-b30">
      <div class="wt-accordion acc-bg-gray" id="accordion-{data.uid}">

        <f:for each="{data.tx_mask_accordion_privacy}" as="accordion" iteration="iterator">

          <div class="panel wt-panel">
            <div class="acod-head">
              <h6 class="acod-title text-uppercase">
                <a data-toggle="collapse" href="#collapse{iterator.cycle}-{data.uid}" data-parent="#accordion-{data.uid}">
                  <i class="{accordion.tx_mask_icon}"></i>
                  {accordion.tx_mask_title}
                  <span class="indicator"><i class="fa fa-plus"></i></span>
                </a>
              </h6>
            </div>
            <div id="collapse{iterator.cycle}-{data.uid}" class="acod-body collapse in">
              <div class="acod-content p-tb15">
                <f:format.html>{accordion.tx_mask_text}</f:format.html>
              </div>
            </div>
          </div>

        </f:for>

      </div>
    </div>

  </div>
</div>

</html>