<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="call-to-action-wrap bg-primary bg-repeat">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <div class="call-to-action-left p-tb20 p-r50">
          <f:if condition="{data.header}">
            <f:render partial="Header" arguments="{header: data.header, layout: data.header_layout, additionalClass: 'text-uppercase m-b10'}"/>
          </f:if>
          <p class="accordion--font__color">{data.subheader}</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="call-to-action-right p-tb30">

          <f:link.typolink parameter="{data.tx_mask_button}" class="site-button-secondry text-uppercase font-weight-600">
            {data.tx_mask_button_label}<i class="fa fa-angle-double-right"></i>
          </f:link.typolink>

        </div>
      </div>
    </div>
  </div>
</div>

</html>