<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="section-full p-t80">
  <div class="container">
    <div class="section-content">
      <div class="row m-b30">
        <div class="col-md-6">

          <div class="section-content p-b30">
            <div class="section-head">
              <f:if condition="{data.header}">
                <f:render partial="Header" arguments="{header: data.header, layout: data.header_layout, additionalClass: 'text-uppercase'}"/>
              </f:if>
              <div class="wt-separator-outer">
                <div class="wt-separator style-square">
                  <span class="separator-left bg-primary"></span>
                  <span class="separator-right bg-primary"></span>
                </div>
              </div>
            </div>
            <div class="wt-accordion acc-bg-gray" id="accordion-{data.uid}">

              <f:for each="{data.tx_mask_accordion}" as="accordion" iteration="iterator">
                <div class="panel wt-panel ">
                  <div class="acod-head ">
                    <h6 class="acod-title text-uppercase">
                      <a data-toggle="collapse" href="#collapse{iterator.cycle}-{data.uid}" data-parent="#accordion-{data.uid}"><i class="{accordion.tx_mask_icon_name}"></i>
                        {accordion.tx_mask_title}
                        <span class="indicator"><i class="fa fa-plus"></i></span>
                      </a>
                    </h6>
                  </div>
                  <div id="collapse{iterator.cycle}-{data.uid}" class="acod-body collapse">
                    <div class="acod-content p-tb15">{accordion.tx_mask_text}</div>
                  </div>
                </div>
              </f:for>

            </div>
          </div>

        </div>

        <div class="col-md-6">
          <div class="section-head">
            <h4 class="text-uppercase">{data.tx_mask_checklist_title}</h4>
            <div class="wt-separator-outer">
              <div class="wt-separator style-square">
                <span class="separator-left bg-primary"></span>
                <span class="separator-right bg-primary"></span>
              </div>
            </div>
          </div>

          <div class="wt-box bg-gray p-a30">
            <ul class="list-checked black">
              <f:for each="{data.tx_mask_responsibility_list}" as="responsibilityList">
                <li>{responsibilityList.tx_mask_title}</li>
              </f:for>
            </ul>
            <f:link.typolink parameter="{data.tx_mask_career_button_link}" class="custom-slider-button site-button-secondry button-lg">
              {data.tx_mask_career_button_label}
            </f:link.typolink>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

</html>