<div class="categories-wrapper 
        {f:if(condition: data.layout, then: 'frame-layout-{data.layout}')}
        {f:if(condition: data.frame_class, then: 'frame-{data.frame_class}')}
        {f:if(condition: data.space_before_class, then: 'frame-space-before-{data.space_before_class}')}
        {f:if(condition: data.space_after_class, then: 'frame-space-after-{data.space_after_class}')} ">

    <f:if condition="{data.header}">
        <h2 class="text-center">{data.header}</h2>
    </f:if>
    <div class="container categories">
        <div class="row">
            <div class="col-12 col-md-4">
                <a href="/termelok">
                    <span class="categories_bg food"></span>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        id="Layer_1" width="800px" height="800px" viewBox="0 0 256 173"
                        enable-background="new 0 0 256 173" xml:space="preserve">
                        <path
                            d="M128.253,56.864c15.186,0,27.432-12.247,27.432-27.432S143.536,2,128.253,2  c-15.186,0-27.432,12.247-27.432,27.432C100.918,44.716,113.165,56.864,128.253,56.864z M64.571,136.32h-49.28  c-15.969,0-16.851-24.395,0.294-24.395H58.3l24.493-36.054c7.25-9.895,15.48-14.598,27.138-14.598h36.544  c11.659,0,19.888,4.311,27.138,14.598l24.591,36.054h43.01c17.243,0,16.165,24.395,0.588,24.395h-49.28  c-3.919,0-8.622-1.372-11.365-5.584l-18.811-26.844l-0.098,67.209H94.844l-0.098-67.209l-18.811,26.844  C73.192,134.85,68.49,136.32,64.571,136.32z" />
                        <path
                            d="M224.2,75.497v22.702H237.4v3.87h-29.72v-3.87h13.575V75.497c0-0.838-6.065-6.239-10.051-9.069  c-3.437-2.455-9.242-6.758-9.242-18.08c0-9.185,5.343-17.416,5.343-17.416h30.875c0,0,5.343,8.174,5.343,17.329  c0,11.322-5.805,15.625-9.271,18.08C230.266,69.201,224.2,74.573,224.2,75.497z M204.907,48.347c0,0.116,0,0.26,0,0.404h35.641  c0-0.144,0-0.318,0-0.491c0-6.094-3.062-14.355-4.448-14.355h-26.716C207.997,36.332,204.907,42.253,204.907,48.347z" />
                        <path
                            d="M64.621,73.211c0-4.281-3.458-7.738-7.739-7.738c0.988-1.317,1.646-2.964,1.646-4.72c0-4.281-3.458-7.738-7.738-7.738  c-2.525,0-4.72,1.207-6.147,3.073c-0.988-1.262-2.36-2.25-3.952-2.744l-0.768-0.055l-0.11-17.398c0-2.964,2.415-5.379,5.379-5.379  v-2.854c-4.5,0-8.233,3.677-8.233,8.232v4.5h-3.897c2.415-2.031,2.195-5.433,2.195-5.433c-2.525-0.713-4.336,0.165-4.336,0.165  v-0.11c0,0-1.592-6.257-5.598-7.958c-3.842,4.116-2.36,9.934-2.36,9.934C18.354,31.061,11,37.592,11,37.592  s3.842,9.056,10.538,5.598c0,0-3.842,4.665-2.085,10.044c4.391,0.165,8.452-4.83,8.452-4.83v-0.11c0,0,1.262,1.592,3.842,2.031  c0,0,2.086-3.952-0.494-7.08h5.708v9.879v0.082c-1.873,0.402-3.48,1.429-4.61,2.882c-1.427-1.866-3.622-3.073-6.147-3.073  c-4.281,0-7.738,3.458-7.738,7.739c0,1.756,0.604,3.403,1.646,4.72c-4.281,0-7.738,3.458-7.738,7.739  c0,4.171,3.348,7.629,7.519,7.738c-0.878,1.262-1.372,2.744-1.372,4.391c0,3.952,3.019,7.245,6.86,7.684  c-0.439,0.988-0.713,2.031-0.713,3.183c0,4.281,3.458,7.738,7.738,7.738c2.525,0,4.72-1.207,6.147-3.073  c1.427,1.866,3.622,3.073,6.147,3.073c4.281,0,7.738-3.458,7.738-7.738c0-1.153-0.274-2.195-0.714-3.183  c3.842-0.439,6.86-3.732,6.86-7.684c0-1.592-0.494-3.128-1.372-4.391C61.273,80.84,64.621,77.437,64.621,73.211z M24.501,73.266  h-2.47c0-1.207-0.933-2.141-2.086-2.141v-3.403c2.086,0,3.952,1.207,4.885,2.964c0,0.055,0.055,0.11,0.055,0.165  c0.329,0.714,0.549,1.537,0.549,2.415H24.501z M30.813,85.34h-0.165h-2.47c0-1.153-0.933-2.086-2.086-2.086v-3.403  c1.976,0,3.677,1.043,4.665,2.58c0.11,0.165,0.165,0.329,0.274,0.494c0.329,0.714,0.549,1.537,0.549,2.415H30.813z M28.178,60.753  c0-1.153-0.933-2.086-2.086-2.086v-3.403c3.019,0,5.488,2.47,5.488,5.488H28.178z M36.795,96.262h-2.47  c0-1.153-0.933-2.086-2.085-2.086v-3.403c0.22,0,0.439,0,0.604,0.055c1.482,0.165,2.854,0.933,3.732,2.086  c0.22,0.274,0.439,0.604,0.604,0.933c0.329,0.714,0.549,1.537,0.549,2.415H36.795z M34.325,72.882c0-1.153-0.933-2.086-2.085-2.086  v-3.019v-0.384c3.019-0.055,5.488,2.415,5.488,5.488H34.325z M40.472,85.34c0-1.153-0.933-2.086-2.085-2.086v-3.403  c2.47,0,4.555,1.646,5.269,3.897c0.165,0.494,0.22,1.043,0.22,1.592H40.472z M40.472,60.753c0-1.153-0.933-2.086-2.085-2.086v-3.403  c3.019,0,5.488,2.47,5.488,5.488H40.472z M46.619,96.262c0-1.153-0.933-2.086-2.086-2.086v-3.403c3.019,0,5.488,2.47,5.488,5.488  H46.619z M46.619,72.882c0-1.153-0.933-2.086-2.086-2.086v-3.019c2.909,0,5.269,2.25,5.488,5.104H46.619z M52.766,85.34  c0-1.153-0.933-2.086-2.086-2.086v-3.403c3.019,0,5.488,2.47,5.488,5.488H52.766z M52.766,60.753c0-1.153-0.933-2.086-2.086-2.086  v-3.403c3.019,0,5.488,2.47,5.488,5.488H52.766z M58.968,73.211c0-1.153-0.933-2.086-2.086-2.086v-3.403  c3.019,0,5.488,2.47,5.488,5.488H58.968z" />
                        <g id="shopping_cart">
                        </g>
                        <g id="cross">
                        </g>
                        <g id="leaf">
                        </g>
                    </svg>
                    <h3>Termelők</h3>
                </a>
            </div>
            <div class="col-12 col-md-4">
                <a href="/termeloi-piacok">
                    <span class="categories_bg handcraft"></span>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"
                        height="800px" width="800px" version="1.1" id="Capa_1" viewBox="0 0 484.909 484.909"
                        xml:space="preserve">
                        <g>
                            <path
                                d="M204.993,438.478c-6.347,6.349-6.347,16.639,0,22.978c3.173,3.174,7.332,4.761,11.488,4.761   c4.158,0,8.316-1.587,11.489-4.761l49.747-49.754l-22.979-22.978L204.993,438.478z" />
                            <polygon points="317.642,325.807 300.695,342.761 323.671,365.738 363.597,325.807  " />
                            <path
                                d="M260.77,325.807h-45.954l135.627,135.648c3.173,3.174,7.331,4.761,11.487,4.761c4.158,0,8.315-1.587,11.488-4.761   c6.349-6.339,6.349-16.629,0-22.978L260.77,325.807z" />
                            <path
                                d="M102.294,107.658c21.471,0,38.878-19.915,38.878-44.478c0-24.564-17.407-44.487-38.878-44.487   c-21.486,0-38.877,19.923-38.877,44.487C63.417,87.743,80.808,107.658,102.294,107.658z" />
                            <path
                                d="M87.124,123.517v32.269c0,3.396,2.761,6.157,6.157,6.157h18.026c3.396,0,6.156-2.761,6.156-6.157v-32.269   C107.784,123.454,96.804,123.454,87.124,123.517z" />
                            <path
                                d="M77.762,296.157h-7.173c-6.87,0-12.44-5.57-12.44-12.442v-41.058H41.28l2.714-13.06h30.53V123.66   c-7.062,0.128-11.934,0.302-12.44,0.539c-5.554,1.365-10.505,4.951-12.885,10.656L1.421,250.377   c-3.937,9.521,0.586,20.439,10.107,24.382c2.332,0.958,4.76,1.42,7.14,1.42c7.315,0,14.266-4.34,17.249-11.537l1.635-3.966   l-11.251,54.167c-0.856,4.109,0.192,8.386,2.825,11.639c2.65,3.253,6.617,5.141,10.822,5.141h13.076v112.196   c0,12.369,10.028,22.398,22.389,22.398c12.361,0,22.39-10.029,22.39-22.398V331.622h8.982v112.196   c0,12.369,10.029,22.398,22.39,22.398c12.361,0,22.39-10.029,22.39-22.398V331.622h13.076c4.205,0,8.171-1.888,10.821-5.141   c0.159-0.198,0.19-0.468,0.334-0.674h-63.789C94.582,325.807,80.255,312.889,77.762,296.157z" />
                            <path
                                d="M130.064,229.597h30.515l2.714,13.06h-16.819v13.662h57.838c-0.127-1.992-0.349-3.999-1.158-5.942l-47.778-115.521   c-2.365-5.705-7.316-9.291-12.869-10.663c-0.508-0.231-5.379-0.413-12.441-0.533V229.597z" />
                            <path
                                d="M466.406,272.568h-14.13c4.088-4.887,6.552-11.18,6.552-18.05c0-15.549-12.604-28.154-28.153-28.154   c-15.549,0-28.154,12.605-28.154,28.154c0,6.87,2.464,13.163,6.553,18.05h-22.131c4.089-4.887,6.553-11.18,6.553-18.05   c0-15.549-12.604-28.154-28.154-28.154c-15.549,0-28.153,12.605-28.153,28.154c0,6.87,2.464,13.163,6.553,18.05h-22.491   c4.088-4.887,6.552-11.18,6.552-18.05c0-2.477-0.322-4.877-0.923-7.165c-1.349-5.322-4.256-10.023-8.209-13.587   c-5.01-4.595-11.688-7.402-19.022-7.402c-15.549,0-28.154,12.605-28.154,28.154c0,6.87,2.464,13.163,6.553,18.05H112.007   c-10.22,0-18.504,8.284-18.504,18.495c0,10.211,8.284,18.495,18.504,18.495h354.399c10.22,0,18.503-8.284,18.503-18.495   C484.909,280.852,476.626,272.568,466.406,272.568z" />
                            <path
                                d="M370.467,205.351c0,15.115,12.25,27.373,27.374,27.373c15.121,0,27.371-12.258,27.371-27.373   c0-15.115-12.25-27.373-27.371-27.373C382.717,177.978,370.467,190.236,370.467,205.351z" />
                            <path
                                d="M365.342,183.977c15.122,0,27.372-12.258,27.372-27.373c0-15.115-12.25-27.373-27.372-27.373   c-15.123,0-27.373,12.258-27.373,27.373C337.969,171.718,350.219,183.977,365.342,183.977z" />
                            <path
                                d="M332.844,232.724c15.122,0,27.372-12.258,27.372-27.373c0-15.115-12.25-27.373-27.372-27.373   c-15.123,0-27.373,12.258-27.373,27.373C305.471,220.465,317.721,232.724,332.844,232.724z" />
                        </g>
                    </svg>

                    <h3>Termelői piacok</h3>
                </a>
            </div>
            <div class="col-12 col-md-4">
                <a href="/program">
                    <span class="categories_bg service"></span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" width="800px" height="800px"
                        viewBox="0 0 52 52">

                        <g>

                            <path
                                d="m49.83 32.45a1.43 1.43 0 0 0 -1.39-1.45h-12a1.43 1.43 0 0 0 -1.44 1.44v1.44a1.43 1.43 0 0 0 1.4 1.44h6.14l-11 11a1.42 1.42 0 0 0 0 2l1 1a1.54 1.54 0 0 0 1.09.45 1.32 1.32 0 0 0 .94-.38l11-11v6a1.43 1.43 0 0 0 1.43 1.44h1.53a1.43 1.43 0 0 0 1.47-1.4z" />

                            <path
                                d="m3.45 12.48h31.91a1.24 1.24 0 0 0 1.25-1.23v-1.25a3.8 3.8 0 0 0 -3.76-3.69h-3.06v-1.31a2.43 2.43 0 0 0 -4.86 0v1.28h-11.06v-1.28a2.44 2.44 0 0 0 -4.87 0v1.28h-3.12a3.69 3.69 0 0 0 -3.69 3.72v1.28a1.24 1.24 0 0 0 1.25 1.23z" />

                            <path
                                d="m36.53 25.13v-7.79a1.25 1.25 0 0 0 -1.22-1.26h-31.86a1.24 1.24 0 0 0 -1.26 1.22v18.46a3.69 3.69 0 0 0 3.69 3.69h18.5a16.82 16.82 0 0 1 12.15-14.32zm-11-2.85a1.24 1.24 0 0 1 1.2-1.28h2.43a1.24 1.24 0 0 1 1.26 1.22v2.47a1.24 1.24 0 0 1 -1.17 1.31h-2.52a1.25 1.25 0 0 1 -1.25-1.23zm-12.23 11a1.23 1.23 0 0 1 -1.25 1.23h-2.49a1.24 1.24 0 0 1 -1.25-1.23v-2.46a1.25 1.25 0 0 1 1.23-1.25h2.46a1.25 1.25 0 0 1 1.26 1.22zm0-8.54a1.24 1.24 0 0 1 -1.22 1.26h-2.52a1.25 1.25 0 0 1 -1.25-1.23v-2.49a1.24 1.24 0 0 1 1.2-1.28h2.49a1.24 1.24 0 0 1 1.26 1.22zm8.54 8.54a1.25 1.25 0 0 1 -1.22 1.26h-2.51a1.24 1.24 0 0 1 -1.26-1.22v-2.5a1.24 1.24 0 0 1 1.23-1.25h2.46a1.25 1.25 0 0 1 1.25 1.23zm-1.3-7.28h-2.43a1.25 1.25 0 0 1 -1.26-1.22v-2.5a1.24 1.24 0 0 1 1.2-1.28h2.49a1.24 1.24 0 0 1 1.25 1.23v2.46a1.24 1.24 0 0 1 -1.17 1.31z" />

                        </g>

                    </svg>
                    <h3>Programok</h3>
                </a>
            </div>
        </div>
    </div>
</div>