<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="section-full  p-t50 p-b10  counter-wrapper overlay-wraper bg-repeat bg-parallax" style="
  --bg-image-xs:url({f:uri.image(src:'{data.image.0.uid}',treatIdAsReference: '1', width:'100')});
  --bg-image-sm:url({f:uri.image(src:'{data.image.0.uid}',treatIdAsReference: '1', width:'200')});
  --bg-image-md:url({f:uri.image(src:'{data.image.0.uid}',treatIdAsReference: '1', width:'400')});
  --bg-image-lg:url({f:uri.image(src:'{data.image.0.uid}',treatIdAsReference: '1', width:'800')});
  --bg-image-xl:url({f:uri.image(src:'{data.image.0.uid}',treatIdAsReference: '1', width:'1200')});
">
  <div class="overlay-main bg-black opacity-07"></div>
  <div class="container">

    <div class="section-content">
      <div class="counter_content">

        <f:for each="{data.tx_mask_counter}" as="counter">

          <div class="">
            <div class="m-b30 text-white text-center">
              <div class="icon-lg m-b20"><i class="{counter.tx_mask_icon_name}"></i></div>
              <f:if condition="{counter.tx_mask_symbol}">
                <f:then>
                  <div class="font-26 font-weight-800 m-b5">
                    <span class="counter" data-count="{counter.tx_mask_number}">0</span><b>{counter.tx_mask_symbol}</b></div>
                  <span>{counter.tx_mask_title}</span>
                </f:then>
                <f:else>
                  <div class="counter font-26 font-weight-800 m-b5" data-count="{counter.tx_mask_number}">0</div>
                  <span>{counter.tx_mask_title}</span>
                </f:else>
              </f:if>

            </div>
          </div>

        </f:for>

      </div>
    </div>
  </div>
</div>
</html>
