<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="section-full p-t80 p-b50">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="">
          <div class="p-b30">
            <f:if condition="{data.header}">
              <f:render partial="Header" arguments="{header: data.header, layout: data.header_layout, additionalClass: 'text-uppercase'}"/>
            </f:if>
            <div class="wt-separator-outer">
              <div class="wt-separator style-square">
                <span class="separator-left bg-primary"></span>
                <span class="separator-right bg-primary"></span>
              </div>
            </div>
          </div>

          <f:for each="{data.tx_mask_question_answer}" as="quesAndAns">
            <div class="faq-block">
              <h2 class="faq-que" data-faq-que-content="{f:translate(key: 'faq.question', extensionName: 'emmabase')}">{quesAndAns.tx_mask_question}</h2>
              <div class="faq-ans" data-faq-ans-content="{f:translate(key: 'faq.answer', extensionName: 'emmabase')}">
                <p>{quesAndAns.tx_mask_answer}</p>
              </div>
            </div>
          </f:for>

        </div>
      </div>

    </div>
  </div>
</div>
</html>