<div class="container bg-change
            {f:if(condition: data.layout, then: 'frame-layout-{data.layout}')}
            {f:if(condition: data.frame_class, then: 'frame-{data.frame_class}')}
            {f:if(condition: data.space_before_class, then: 'frame-space-before-{data.space_before_class}')}
            {f:if(condition: data.space_after_class, then: 'frame-space-after-{data.space_after_class}')}"
    data-color="{tx_mask_dbackground}">
    <div class="row">
        <div class="col-12 col-sm-{data.tx_mask_grid1}">
            <f:if condition="{data.tx_mask_content1}">
                <f:for each="{data.tx_mask_content1}" as="data_item">
                    <f:cObject typoscriptObjectPath="lib.tx_mask.content">{data_item.uid}</f:cObject>
                </f:for>
            </f:if>
        </div>

        <div class="col-12 col-sm-{data.tx_mask_grid2}">
            <f:if condition="{data.tx_mask_content2}">
                <f:for each="{data.tx_mask_content2}" as="data_item">
                    <f:cObject typoscriptObjectPath="lib.tx_mask.content">{data_item.uid}</f:cObject>
                </f:for>
            </f:if>
        </div>

        <div class="col-12 col-sm-{data.tx_mask_grid3}">
            <f:if condition="{data.tx_mask_content3}">
                <f:for each="{data.tx_mask_content3}" as="data_item">
                    <f:cObject typoscriptObjectPath="lib.tx_mask.content">{data_item.uid}</f:cObject>
                </f:for>
            </f:if>
        </div>
    </div>
</div>