<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="section-full bg-white p-t80">

  <div class="container">
    <div class="section-head text-center">
      <f:if condition="{data.header}">
        <f:render partial="Header" arguments="{header: data.header, layout: data.header_layout, additionalClass: 'text-uppercase'}"/>
      </f:if>
      <div class="wt-separator-outer m-b50">
        <div class="wt-separator style-square">
          <span class="separator-left bg-primary"></span>
          <span class="separator-right bg-primary"></span>
        </div>
      </div>

    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="mfp-gallery no-col-gap">

        <f:for each="{data.image}" as="image">

          <div class="masonry-item cat-2 col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="flip-container">
              <div class="wt-box">
                <div class="wt-thum-bx lazyload" data-noscript="">
                  <noscript>
                    <f:render partial="Responsive/Picture"
                              arguments="{img: '{image}', treatIdAsReference: '1',
                                  width:'400', width2x:'800', altText:'{image.alternative}',
                                  sources: {
                                      0:{
                                        width: '500', mediaQuery: '(min-width: 450px)'
                                      },
                                      0:{
                                          width: '400', mediaQuery: '(min-width: 768px)'
                                      },
                                      1:{
                                          width: '300', mediaQuery: '(min-width: 992px)'
                                      },
                                      2:{
                                        width: '400', mediaQuery: '(min-width: 1200px)'
                                      },
                                      3:{
                                        width: '500', mediaQuery: '(min-width: 1600px)'
                                      }
                                   }
                                }"
                    />
                  </noscript>
                </div>
                <div class="wt-info bg-gray text-center p-a20">
                  <h3 class="text-uppercase">{image.title}</h3>
                  <p>{image.description}</p>
                </div>
              </div>
            </div>
          </div>
        </f:for>

      </div>
    </div>
  </div>
</div>

</html>