<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="section-full p-t80 p-b50 bg-gray">
  <div class="container">
    <div class=" m-b70">
      <div class="section-head text-center">
        <f:if condition="{data.header}">
          <f:render partial="Header" arguments="{header: data.header, layout: data.header_layout, additionalClass: 'text-uppercase'}"/>
        </f:if>
        <div class="wt-separator-outer">
          <div class="wt-separator style-square">
            <span class="separator-left bg-primary"></span>
            <span class="separator-right bg-primary"></span>
          </div>
        </div>
        <f:if condition="{data.tx_mask_subtitle}">
          <f:format.nl2br><p>{data.tx_mask_subtitle}</p></f:format.nl2br>
        </f:if>
      </div>
    </div>
    <div class="section-content">
      <div class="row">

        <f:for each="{data.tx_mask_teaser}" as="teaserItem" iteration="iterator">
          <div class="col-md-4 col-sm-6 col-xs-6 col-xs-100pc m-tb15">
            <div class="wt-team-one bg-white p-a10">
              <div class="wt-team-media">
                <f:link.typolink parameter="{teaserItem.tx_mask_datail_page}">
                  <f:render partial="Responsive/Picture"
                            arguments="{img: '{teaserItem.tx_mask_image.0}', treatIdAsReference: '1',
                                  width:'270', width2x:'540', altText: '{teaserItem.tx_mask_image.alternative}',
                                  sources: {
                                    0:{
                                      width: '500', mediaQuery: '(min-width: 450px)'
                                    },
                                    1:{
                                        width: '345', mediaQuery: '(min-width: 768px)'
                                    },
                                    2:{
                                        width: '455', mediaQuery: '(min-width: 992px)'
                                    },
                                    3:{
                                      width: '555', mediaQuery: '(min-width: 1200px)'
                                    }
                                   }
                                }"
                  />
                </f:link.typolink>
              </div>
              <div class="wt-team-info text-center bg-white p-a10">
                <h4 class="wt-team-title"><f:link.typolink parameter="{teaserItem.tx_mask_datail_page}">{teaserItem.tx_mask_name}</f:link.typolink></h4>
                <f:if condition="{teaserItem.tx_mask_position}">
                  <p>{teaserItem.tx_mask_position}</p>
                </f:if>
                <f:if condition="{teaserItem.tx_mask_details}">
                  <f:format.nl2br><p class="our-teams__font">{teaserItem.tx_mask_details}</p></f:format.nl2br>
                </f:if>
              </div>
            </div>
          </div>
        </f:for>
      </div>
    </div>
  </div>
</div>
</html>