<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="section-full p-t80 p-b50 bg-gray">
  <div class="container">
    <f:if condition="{data.header}">
      <f:render partial="Header" arguments="{header: data.header, layout: data.header_layout, additionalClass: 'text-uppercase'}"/>
    </f:if>
    <div class="row">
      <div class="col-md-4 col-sm-4  ">
        <div class="wt-team-full-media">
          <div class="wt-team-one bg-white p-a10">
            <div class="wt-team-media">
              <f:image src="{data.image.0.uid}" treatIdAsReference="1" cropVariant="desktop"/>
            </div>
            <div class="wt-team-info text-center p-a10 p-t30">
              <f:format.nl2br><p>{data.image.0.description}</p></f:format.nl2br>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-7 col-sm-7">
        <div class="wt-info wt-team-full-info">
          <f:format.html>{data.tx_mask_detail_informations}</f:format.html>
        </div>
      </div>
    </div>
    <!--LEFT PART END -->
  </div>
</div>
</html>
            