<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true"
      xmlns:el="DigitalZombies\DzBase\ViewHelpers">

<el:loadSettings extKey="emmabase"/>

<div class="section-full p-t80 p-b50">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-6">
          <div class="page-notfound text-center">
            <form method="post">
              <strong class="text-uppercase">{data.header}</strong>
              <f:switch expression="{data.tx_mask_error_type}">

                <f:case value="0">
                  <strong>4<i class="fa fa-frown-o text-primary"></i>3</strong>
                  <span><f:translate key="tt_content.error_type.403" extensionName="emmabase"/></span>
                </f:case>

                <f:case value="1">
                  <strong>4<i class="fa fa-frown-o text-primary"></i>4</strong>
                  <span><f:translate key="tt_content.error_type.404" extensionName="emmabase"/></span>
                </f:case>

                <f:case value="2">
                  <strong>5<i class="fa fa-frown-o text-primary"></i><i class="fa fa-frown-o text-primary"></i></strong>
                  <span><f:translate key="tt_content.error_type.500" extensionName="emmabase"/></span>
                </f:case>

              </f:switch>

              <f:link.page pageUid="{settings.root}" class="site-button-secondry">
                {data.tx_mask_button_label}<i class="fa fa-angle-double-right"></i>
              </f:link.page>

            </form>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="page-notfound-left text-center bg-gray">
            <div class="constrot-strip"></div>
            <span class="flaticon-plumber-working"></span>
            <div class="constrot-strip"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

</html>