<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="section-full p-t80 p-b50 overlay-wraper bg-parallax" style="
  --bg-image-xs:url({f:uri.image(src:'{data.image.0.uid}',treatIdAsReference: '1', width:'400')});
  --bg-image-sm:url({f:uri.image(src:'{data.image.0.uid}',treatIdAsReference: '1', width:'800')});
  --bg-image-md:url({f:uri.image(src:'{data.image.0.uid}',treatIdAsReference: '1', width:'1200')});
  --bg-image-lg:url({f:uri.image(src:'{data.image.0.uid}',treatIdAsReference: '1', width:'1600')});
  --bg-image-xl:url({f:uri.image(src:'{data.image.0.uid}',treatIdAsReference: '1', width:'2000')});
">
  <div class="overlay-main bg-black opacity-02"></div>
  <div class="container">

    <div class="section-head text-center">
      <f:if condition="{data.header}">
        <f:render partial="Header" arguments="{header: data.header, layout: data.header_layout, additionalClass: 'text-uppercase text-white'}"/>
      </f:if>
      <div class="wt-separator-outer">
        <div class="wt-separator style-square has-bg">
          <span class="separator-left bg-primary"></span>
          <span class="separator-right bg-primary"></span>
        </div>
      </div>
    </div>
    <div class="section-content">
      <div class="timeline text-white">

        <f:for each="{data.tx_mask_process}" as="process" iteration="iterator">

          <div class="timeline-item {f:if(condition: '!{iterator.isLast}', then: 'p-b40')}">
            <div class="timeline-disc">
              <div class="timeline-icon">
                <div class="wt-icon-box-sm bg-primary radius-bx">
                  <span class="icon-cell text-white"><span class="process--font__size {process.tx_mask_icon_name}"></span></span>
                </div>
              </div>
              <h5 class="text-uppercase">{process.tx_mask_title}</h5>
              <p>{process.tx_mask_subtitle}</p>
            </div>
          </div>

        </f:for>
      </div>
    </div>
  </div>
</div>
</html>