<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="main-slider style-two default-banner">
  <div class="tp-banner-container">
    <div class="tp-banner">
      <div id="rev_slider_1077_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="scroll-effect136" data-source="gallery"
           style="background-color:#111111;padding:0px;">
        <div id="rev_slider_1077_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
          <ul>
            <f:for each="{data.tx_mask_slider}" as="slide" iteration="iterator">
              <li data-index="rs-{f:if(condition: '{iterator.cycle} == 1', then: '100')}{f:if(condition: '{iterator.cycle} == 2', then: '200')}{f:if(condition: '{iterator.cycle} == 3', then: '300')}"
                  data-transition="slideoverhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"
                  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"
                  data-thumb="{f:uri.image(src:'{slide.tx_mask_image.0.uid}',treatIdAsReference: '1', width: '100')}" data-rotate="0" data-fstransition="fade"
                  data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="{slide.tx_mask_title}"
                  data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7=""
                  data-param8="" data-param9="" data-param10="" data-description="">

                <f:variable name="additionalAttributes" value='data-bgposition=center data-bgfit=cover data-bgrepeat=no-repeat data-bgparallax=10' />
                <f:render partial="Responsive/Picture"
                          arguments="{img: '{slide.tx_mask_image.0}', treatIdAsReference: '1', additionalImageClass: 'rev-slidebg',
                                width:'260', width2x:'520', altText:'{slide.tx_mask_image.0.alternative}',
                                additionalAttributes: '{additionalAttributes}',
                                sources: {
                                    0:{
                                        width: '450', mediaQuery: '(max-width: 360)'
                                    },
                                    1:{
                                        width: '680', mediaQuery: '(max-width: 768px)'
                                    },
                                    2:{
                                        width: '1000', mediaQuery: '(max-width: 1200px)'
                                    },
                                    3:{
                                        width: '1680', mediaQuery: '(min-width: 1201px)'
                                    }
                                 }
                              }"
                />

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-shape tp-shapewrapper  "
                     id="slide-{f:if(condition: '{iterator.cycle} == 1', then: '100')}{f:if(condition: '{iterator.cycle} == 2', then: '200')}{f:if(condition: '{iterator.cycle} == 3', then: '300')}-layer-1"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
                     data-width="full"
                     data-height="['400','400','400','550']"
                     data-whitespace="nowrap"
                     data-type="shape"
                     data-basealign="slide"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-frames='[{"from":"opacity:0;","speed":100,"to":"o:1;","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":0,"to":"opacity:0;","ease":"nothing"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 5;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(0, 0, 0, 0);
                     border-width:0px;background:linear-gradient(to top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);cursor:default;">
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-shape tp-shapewrapper  "
                     id="slide-{f:if(condition: '{iterator.cycle} == 1', then: '100')}{f:if(condition: '{iterator.cycle} == 2', then: '200')}{f:if(condition: '{iterator.cycle} == 3', then: '300')}-layer-2"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']"
                     data-width="full"
                     data-height="['400','400','400','550']"
                     data-whitespace="nowrap"
                     data-type="shape"
                     data-basealign="slide"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 5;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(0, 0, 0, 0);
                     border-width:0px;background:linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);cursor:default;">
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption BigBold-Title   tp-resizeme"
                     id="slide-{f:if(condition: '{iterator.cycle} == 1', then: '100')}{f:if(condition: '{iterator.cycle} == 2', then: '200')}{f:if(condition: '{iterator.cycle} == 3', then: '300')}-layer-3"
                     data-x="['left','left','left','left']" data-hoffset="['50','50','30','17']"
                     data-y="['bottom','bottom','bottom','bottom']" data-voffset="['110','110','180','180']"
                     data-fontsize="['90','70','50','30']"
                     data-lineheight="['100','90','60','60']"
                     data-fontweight="['800','800','800','800']"
                     data-width="['none','none','none','400']"
                     data-height="none"
                     data-whitespace="['nowrap','nowrap','nowrap','normal']"
                     data-type="text"
                     data-basealign="slide"
                     data-responsive_offset="off"
                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},
                                            {"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[10,10,10,10]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[10,10,10,10]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 6;text-transform:uppercase;color:#fff;"><span class="text-primary">  {slide.tx_mask_title}</span> {slide.tx_mask_secondary_title}
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption BigBold-SubTitle  "
                     id="slide-{f:if(condition: '{iterator.cycle} == 1', then: '100')}{f:if(condition: '{iterator.cycle} == 2', then: '200')}{f:if(condition: '{iterator.cycle} == 3', then: '300')}-layer-4"
                     data-x="['left','left','left','left']" data-hoffset="['55','55','33','20']"
                     data-y="['bottom','bottom','bottom','bottom']" data-voffset="['40','1','74','78']"
                     data-fontsize="['15','15','15','13']"
                     data-lineheight="['24','24','24','20']"
                     data-width="['410','410','410','280']"
                     data-height="['60','100','100','100']"
                     data-whitespace="normal"
                     data-type="text"
                     data-basealign="slide"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 7; color:#fff;">{slide.tx_mask_text}
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption BigBold-Button rev-btn "
                     id="slide-{f:if(condition: '{iterator.cycle} == 1', then: '100')}{f:if(condition: '{iterator.cycle} == 2', then: '200')}{f:if(condition: '{iterator.cycle} == 3', then: '300')}-layer-5"
                     data-x="['left','left','left','left']" data-hoffset="['480','480','30','20']"
                     data-y="['bottom','bottom','bottom','bottom']" data-voffset="['35','35','35','35']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-type="button"
                     data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":""}]'
                     data-basealign="slide"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[15,15,15,15]"
                     data-paddingright="[50,50,50,50]"
                     data-paddingbottom="[15,15,15,15]"
                     data-paddingleft="[50,50,0,0]"
                     style="z-index: 8; ">
                  <f:link.typolink parameter="{slide.tx_mask_button}" class="site-button-secondry outline white">
                    {slide.tx_mask_button_label}
                  </f:link.typolink>
                </div>

              </li>

            </f:for>

          </ul>

          <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>

        </div>

      </div>
    </div>
  </div>
</div>

</html>