<f:if condition="{data.tx_mask_sponsor}">
  <section class="sponsor-slider">
    <div class="container">
      <h2>Támogatóink</h2>
      <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <f:for each="{data.tx_mask_sponsor}" as="data_item">
              <li class="glide__slide">
                <f:link.typolink parameter="{data_item.tx_mask_sponsor_link}">
                  <f:if condition="{data_item.tx_mask_sponsor_logo}">
                    <f:for each="{data_item.tx_mask_sponsor_logo}" as="file">
                      <f:image image="{file}" width="200" />
                      {file.description}
                    </f:for>
                  </f:if>
                </f:link.typolink>
              </li>
            </f:for>
          </ul>
        </div>
      </div>
    </div>
  </section>
</f:if>
<script>
  window.addEventListener("load", function () {
    new Glide('.glide', {
      type: 'carousel',
      startAt: 0,
      perView: 5,
      autoplay: 6000
    }).mount()
  });
</script>