<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true"
    xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

<div class="container stage-wrapper">
    <div class="stage-bg_light"></div>
    <div class="stage-bg"></div>
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="stage thumb">
                <div class="overlay-main bg-light opacity-03"></div>
                <div class="container text-overlay">
                    <div class="wt-bnr-inr-entry stage_title">
                        <f:if condition="{data.tx_mask_text}">
                            <h1 class="text-white">{data.tx_mask_title}</h1>
                        </f:if>
                        <f:if condition="{data.tx_mask_text}">
                            <p class="stage_text">{data.tx_mask_text}</p>
                        </f:if>
                    </div>
                </div>
                <div class="flipping-title">
                    <div class="flip_wrapper" style="margin-bottom: 10px">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front aaaaaaaaaa">
                                    <f:image src="EXT:emmabase/Resources/Public/src/images/flip/grape.jpeg" alt="Szőlő"
                                        width="200" />
                                    <span>H</span>
                                </div>
                                <div class="flip-card-back">
                                    <span>H</span>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <f:image src="EXT:emmabase/Resources/Public/src/images/flip/berries.jpeg"
                                        alt="Bogyósok" width="200" />
                                    <span>E</span>
                                </div>
                                <div class="flip-card-back">
                                    <span>E</span>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <f:image src="EXT:emmabase/Resources/Public/src/images/flip/cheese-platter.jpeg"
                                        alt="Sajt" width="200" />
                                    <span>L</span>
                                </div>
                                <div class="flip-card-back">
                                    <span>L</span>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <f:image src="EXT:emmabase/Resources/Public/src/images/flip/wines.jpeg" alt="Bor"
                                        width="200" />
                                    <span>Y</span>
                                </div>
                                <div class="flip-card-back">
                                    <span>Y</span>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <f:image src="EXT:emmabase/Resources/Public/src/images/flip/vegetables2.jpeg"
                                        alt="Zöldségek" width="200" />
                                    <span>I</span>
                                </div>
                                <div class="flip-card-back">
                                    <span>I</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="flip_wrapper">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <f:image src="EXT:emmabase/Resources/Public/src/images/flip/vegetables-.jpeg"
                                        alt="Zöldségek" width="200" />
                                    <span>I</span>
                                </div>
                                <div class="flip-card-back">
                                    <span>I</span>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <f:image src="EXT:emmabase/Resources/Public/src/images/flip/to-bake.jpeg"
                                        alt="pékáru" width="200" />
                                    <span>N</span>
                                </div>
                                <div class="flip-card-back">
                                    <span>N</span>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <f:image src="EXT:emmabase/Resources/Public/src/images/flip/cheese.jpeg" alt="Sajt"
                                        width="200" />
                                    <span>F</span>
                                </div>
                                <div class="flip-card-back">
                                    <span>F</span>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <f:image src="EXT:emmabase/Resources/Public/src/images/flip/christmas.jpeg"
                                        alt="Ajándék" width="200" />
                                    <span>O</span>
                                </div>
                                <div class="flip-card-back">
                                    <span>O</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="stage_message">
      <p class="text-center">
        Az oldal hamarosan indul, jelenleg a termelők/termékek/szolgáltatások előzetes regisztációja zajlik. Ha szeretnéd a termékedet vagy a szolgáltatásodat népszerűsíteni, kattints az alábbi gombra, és töltsd ki az űrlapot! 
      </p>
      <a href="/jelentkezes" class="btn icon-button">Jelentkezem</a>
    </div> -->
            </div>

        </div>
        <div class="col-12 col-lg-4">
            <h1>Egyél helyit,<br /> vegyél helyit, <br /> és használd a helyi szolgáltatásokat!</h1>
            <p>
                Fedezed fel a helyi termékeket, szolgáltatásokat!
            </p>
            <a href="/lista" class="btn-ghost">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 297 297"
                    style="enable-background:new 0 0 297 297;" xml:space="preserve">
                    <g>
                        <path
                            d="M148.5,0C87.43,0,37.747,49.703,37.747,110.797c0,91.026,99.729,179.905,103.976,183.645
            c1.936,1.705,4.356,2.559,6.777,2.559c2.421,0,4.841-0.853,6.778-2.559c4.245-3.739,103.975-92.618,103.975-183.645
            C259.253,49.703,209.57,0,148.5,0z M148.5,272.689c-22.049-21.366-90.243-93.029-90.243-161.892
            c0-49.784,40.483-90.287,90.243-90.287s90.243,40.503,90.243,90.287C238.743,179.659,170.549,251.322,148.5,272.689z" />
                        <path d="M148.5,59.183c-28.273,0-51.274,23.154-51.274,51.614c0,28.461,23.001,51.614,51.274,51.614
            c28.273,0,51.274-23.153,51.274-51.614C199.774,82.337,176.773,59.183,148.5,59.183z M148.5,141.901
            c-16.964,0-30.765-13.953-30.765-31.104c0-17.15,13.801-31.104,30.765-31.104c16.964,0,30.765,13.953,30.765,31.104
            C179.265,127.948,165.464,141.901,148.5,141.901z" />
                    </g>
                </svg> Megnézem a térképet</a>
            <!--  <div class="stage_textbox">
                <p><strong>A február 28-ig regisztráló termelők/kézművesek között egy 100 ezer forint értékű weboldal
                        készítést/fejlesztést sorsolunk ki.</strong> </br> <small>Ez még titok, de ha a megjegyzés
                        részbe beírod,
                        hogy ki
                        ajánlotta az oldalt regisztrációra, akkor ő is részt fog venni egy sorsoláson (a részletekről
                        később).</small></p>
            </div> -->
        </div>
    </div>

</div>



<script>
    if (document.querySelector(".stage")) {
        let flips = document.querySelectorAll(".flip-card");
        let cardWidth = document.querySelector(".stage").offsetWidth * .15;

        if (flips) {
            flips.forEach(flip => {
                console.log(flip);

                flip.style.width = cardWidth + "px";
                flip.style.height = cardWidth + "px";
                flip.querySelector("img").style.width = cardWidth + "px";
                flip.querySelector("img").style.height = cardWidth + "px";
                flip.querySelector("img").style.lineHeight = cardWidth + "px";
                flip.querySelector(".flip-card-back").style.lineHeight = cardWidth + "px";
                flip.querySelector(".flip-card-back span").style.lineHeight = cardWidth + "px";
                flip.querySelector(".flip-card-back span").style.fontSize = cardWidth * .7 + "px";
                flip.querySelector(".flip-card-front span").style.fontSize = cardWidth * .7 + "px";
                let interval = (Math.floor(Math.random() * 7700) + 3000);
                console.log(interval);

                setInterval(function () {
                    flip.classList.toggle("flipped")
                }, interval)
            });
        }
    }
    let stageHeight = document.querySelector(".stage").offsetHeight;
    let flippingHeight = document.querySelector(".flipping-title").offsetHeight;
    if (document.querySelector(".stage_message")) {
        let stageMessageHeight = document.querySelector(".stage_message").offsetHeight;
        let newHeight = flippingHeight * 0.4 + stageMessageHeight + 140;
        if (newHeight > stageHeight) {
            document.querySelector(".stage").style.height = newHeight + "px";
        }

        document.addEventListener("DOMContentLoaded", function () {
            setTimeout(function () {
                document.querySelector(".flipping-title").classList.add("flipping-title_small");
                document.querySelector(".stage_message").classList.add("active");
                let stageHeight = document.querySelector(".stage").offsetHeight;
                let flippingHeight = document.querySelector(".flipping-title").offsetHeight;
                let stageMessageHeight = document.querySelector(".stage_message").offsetHeight;
                console.log("stageMessageHeught", stageMessageHeight);
                document.querySelector(".stage_message").style
            }, 2000);
        });
    }
</script>


</html>
