<div class="post-tabs rounded bordered">
  <!-- tab navs -->
  <ul class="nav nav-tabs nav-pills nav-fill" id="postsTab" role="tablist">
    <f:for each="{data.tx_mask_tabs}" as="data_item" iteration="iterator">
      <li class="nav-item" role="presentation">
        <button aria-controls="tabitem-{data_item.uid}" aria-selected="{f:if(condition: '{iterator.index} == 0', then: 'true', else: 'false')}"
          class="nav-link {f:if(condition: '{iterator.index} == 0', then: 'active')}"
          data-bs-target="#tabitem-{data_item.uid}" data-bs-toggle="tab" id="tabitem-{data_item.uid}-tab" role="tab"
          type="button">{data_item.tx_mask_tab_title}</button>
      </li>
    </f:for>
  </ul>
  <!-- tab contents -->
  <div class="tab-content" id="tabContent">
    <!-- loader -->
    <div class="lds-dual-ring"></div>
    <f:for each="{data.tx_mask_tabs}" as="data_item" iteration="iterator">
      <div aria-labelledby="tabitem-{data_item.uid}-tab"
        class="tab-pane fade {f:if(condition: '{iterator.index} == 0', then: 'show active')}"
        id="tabitem-{data_item.uid}" role="tabpanel">
        <f:if condition="{data_item.tx_mask_tab_content}">
          <f:for each="{data_item.tx_mask_tab_content}" as="data_item_item">
            <f:cObject typoscriptObjectPath="lib.tx_mask.content">{data_item_item.uid}</f:cObject>
          </f:for>
        </f:if>
      </div>
    </f:for>
  </div>
</div>