<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{data.image.0.title}">
  <f:then>
    <div class="section-full p-t80 p-b50 teaserElement">
      <div class="container">
        <div class="section-head text-center">
          <f:if condition="{data.header}">
            <f:render partial="Header" arguments="{header: data.header, layout: data.header_layout, additionalClass: 'text-uppercase'}"/>
          </f:if>
          <div class="wt-separator-outer">
            <div class="wt-separator style-square">
              <span class="separator-left bg-primary"></span>
              <span class="separator-right bg-primary"></span>
            </div>
          </div>
          <p>{data.subheader}</p>
        </div>
        <div class="section-content">
          <div class="row">

            <f:for each="{data.image}" as="image">
              <div class="col-md-4 col-sm-4 col-xs-12 p-tb15">
                <div class="wt-box bg-white">
                  <div class="wt-media wt-img-overlay1 wt-img-effect  lazyload" data-noscript="">
                    <noscript>
                      <f:render partial="Responsive/Picture"
                                arguments="{img: '{image}', treatIdAsReference: '1',
                                width:'260', width2x:'520', altText:'{image.alternative}',
                                sources: {
                                    0:{
                                        width: '135', mediaQuery: '(max-width: 767px)'
                                    },
                                    1:{
                                        width: '260', mediaQuery: '(min-width: 992px)'
                                   }
                                 }
                              }"
                      />
                    </noscript>
                  </div>
                  <div class="wt-info p-tb30">
                    <h4 class="wt-title m-t0">{image.title}</h4>
                    <p>{image.description}</p>
                  </div>
                </div>
              </div>
            </f:for>

          </div>
        </div>

      </div>
    </div>
  </f:then>
  <f:else>

    <div class="section-full teaserElement bg-gray p-t80 p-b50">
      <div class="container">
        <div class="section-head text-center">
          <f:if condition="{data.header}">
            <f:render partial="Header" arguments="{header: data.header, layout: data.header_layout, additionalClass: 'text-uppercase'}"/>
          </f:if>
          <div class="wt-separator-outer">
            <div class="wt-separator style-square">
              <span class="separator-left bg-primary"></span>
              <span class="separator-right bg-primary"></span>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">

            <f:for each="{data.image}" as="image" iteration="iterator">
              <div class="col-md-4 col-sm-4 col-xs-4 {f:if(condition:'{iterator.cycle}!= 2', then: 'p-t80')}">
                <div class="wt-box">
                  <div class="wt-thum-bx wt-img-overlay1 lazyload" data-noscript="">
                    <noscript>
                      <f:render partial="Responsive/Picture"
                                arguments="{img: '{image}', treatIdAsReference: '1',
                                width:'260', width2x:'520', altText:'{image.alternative}',
                                sources: {
                                    0:{
                                        width: '135', mediaQuery: '(max-width: 767px)'
                                    },
                                    1:{
                                        width: '260', mediaQuery: '(min-width: 992px)'
                                   }
                                 }
                              }"
                      />
                    </noscript>
                  </div>
                </div>
              </div>
            </f:for>

          </div>
        </div>

      </div>
    </div>

  </f:else>
</f:if>
</html>
