<f:if condition="{data.tx_mask_tease_item}">
  <section class="three-col-teaser">
    <div class="container ">
      <div class="row">
        <f:for each="{data.tx_mask_tease_item}" as="data_item">
          <f:link.typolink parameter="{data_item.tx_mask_link}">

            <div class="col-12 col-md-6 col-lg-4">
              <f:if condition="{data_item.tx_mask_image}">
                <f:for each="{data_item.tx_mask_image}" as="file">
                  <div class="image-wrapper">
                    <f:image image="{file}" width="500" height="350c"/>
                  </div>
                </f:for>
              </f:if>
              <f:if condition="{data_item.tx_mask_text}">
                <h2>{data_item.tx_mask_text}</h2>
              </f:if>
            </f:link.typolink>
          </div>
        </f:for>
      </div>
    </div>
  </section>
</f:if>