<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="section-full">
  <div class="container">
    <div class="blog-post date-style-3 blog-post-single">
      <f:if condition="{data.iamge}">
        <div class="wt-post-media wt-img-effect">
          <f:image image="{data.image.0}" treatIdAsReference="1" width="400" height="200"/>
        </div>
      </f:if>
      <div class="wt-post-text">
        <f:format.html>
          {data.bodytext}
        </f:format.html>
      </div>
    </div>
  </div>
</div>
</html>