<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="section-full p-t80 p-b50  bg-gray">
  <div class="container">
    <div class="section-head text-center">
      <f:if condition="{data.header}">
        <f:render partial="Header" arguments="{header: data.header, layout: data.header_layout, additionalClass: 'text-uppercase'}"/>
      </f:if>
      <div class="wt-separator-outer">
        <div class="wt-separator style-square">
          <span class="separator-left bg-primary"></span>
          <span class="separator-right bg-primary"></span>
        </div>
      </div>
      <p>{data.subheader}</p>
    </div>
    <div class="section-content">
      <div class="row">

        <f:for each="{data.tx_mask_text_block}" as="textBlock">
          <div class="col-md-6 col-sm-6 m-b30 animate pulse animated" data-animate="pulse" data-duration="2.0s" data-delay="0.1s" data-offset="100" style="animation-duration: 2s; animation-delay: 0.2s; visibility: visible;">
            <div class="wt-icon-box-wraper left bg-white p-a20">
              <div class="wt-icon-box-sm bg-primary">
                <span class="icon-cell text-white"><i class="{textBlock.tx_mask_icon_name}"></i></span>
              </div>
              <div class="icon-content">
                <h5 class="wt-tilte text-uppercase">{textBlock.tx_mask_title}</h5>
                <p>{textBlock.tx_mask_text}</p>
              </div>
            </div>
          </div>
        </f:for>

      </div>
    </div>

  </div>
</div>

</html>