<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="section-full bg-primary">
  <div class="container our-value">
    <div class="row">
      <div class="col-md-8 col-sm-8 p-t15 p-b30 our-value-left">
        <div class="clearfix">
          <f:for each="{data.tx_mask_column}" as="col">

            <div class="col-sm-6 p-tb10">
              <div class="wt-icon-box-wraper left ">
                <div class="icon-md">
                  <div class="icon-cell text-white">
                    <span class="{col.tx_mask_icon}"></span>
                  </div>
                </div>
                <div class="icon-content text-secondry">
                  <h5 class="wt-tilte text-uppercase m-b5">{col.tx_mask_title}</h5>
                  <p>{col.tx_mask_subtitle}</p>
                </div>
              </div>
            </div>

          </f:for>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 p-t50 p-b50 col-md-offset-1 our-value-right">
        <div class="">
          <f:link.typolink parameter="{data.tx_mask_button}" class="site-button-secondry  m-r15 text-uppercase font-weight-600">
            {data.tx_mask_button_label}
          </f:link.typolink>
        </div>
      </div>
    </div>
  </div>
</div>
</html>