<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true"
    xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
<f:if condition="{data.tx_mask_option}">
    <div class="container reg-options">
        <div class="row">
            <f:for each="{data.tx_mask_option}" as="data_item">
                <div class="col-12 col-sm-6">
                    <div class="reg_options_image">
                        <f:for each="{data_item.tx_mask_option_image}" as="file">
                            <f:media file="{file}" width="800" />
                            {file.description}
                        </f:for>
                        <f:if condition="{data_item.tx_mask_option_link}">
                            <f:link.typolink parameter="{data_item.tx_mask_option_link}" class="reg_options_link">
                                <f:if condition="{data_item.tx_mask_option_text}">
                                    <div>
                                        {data_item.tx_mask_option_text}
                                    </div>
                                </f:if>
                            </f:link.typolink>
                        </f:if>
                    </div>
                </div>
            </f:for>
        </div>
    </div>
</f:if>