<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<!-- SLIDER START -->
<div class="main-slider style-two default-banner">
  <div class="tp-banner-container">
    <div class="tp-banner">
      <!-- START REVOLUTION SLIDER 5.4.1 -->
      <div class="rev_slider_wrapper fullscreen-container" data-alias="typewriter-effect" data-source="gallery" style="background:#212427;">
        <div id="rev_slider_1014_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
          <ul>
            <!-- SLIDE 1 -->
            <li data-index="rs-1000" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                data-easeout="default" data-masterspeed="2000" data-thumb="{f:uri.image(src:'{data.tx_mask_video.0.uid}',treatIdAsReference: '1', width: '100')}" data-rotate="0" data-saveperformance="off" data-title="Creative"
                data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

              <!-- MAIN IMAGE -->
              <f:if condition="{data.tx_mask_videoslider_poster_image}">
                <f:image src="{data.tx_mask_videoslider_poster_image.0.uid}" width="1200" height="600" treatIdAsReference="1" additionalAttributes="{data-bgposition: 'center center', data-bgfit: 'cover'}" class="rev-slidebg"/>
              </f:if>
              <!-- LAYERS -->

              <!-- LAYER NR. 1 [ for overlay ] -->
              <div class="tp-caption tp-shape tp-shapewrapper "
                   id="slide-100-layer-1"
                   data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                   data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                   data-width="full"
                   data-height="full"
                   data-whitespace="nowrap"
                   data-type="shape"
                   data-basealign="slide"
                   data-responsive_offset="off"
                   data-responsive="off"
                   data-frames='[
                                    {"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},
                                    {"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}
                                    ]'
                   data-textAlign="['left','left','left','left']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index: 12;background-color:rgba(0, 0, 0, 0.4);border-color:rgba(0, 0, 0, 0);border-width:0px;">
              </div>

              <!-- LAYER NR. 2 [ for video ] -->
              <div class="rs-background-video-layer"
                   data-forcerewind="on"
                   data-volume="mute"
                   data-videowidth="100%"
                   data-videoheight="100%"
                   data-videomp4="{f:uri.image(src:'{data.tx_mask_video.0.uid}',treatIdAsReference: '1', width: '100')}"
                   data-videopreload="auto"
                   data-videoloop="loop"
                   data-aspectratio="16:9"
                   data-autoplay="true"
                   data-autoplayonlyfirsttime="false"></div>

              <div class="tp-caption  tp-resizeme"
                   id="slide-100-layer-3"
                   data-x="['left','left','left','left']" data-hoffset="['280','200','150','100']"
                   data-y="['top','top','top','top']" data-voffset="['300','300','300','300']"
                   data-width="none"
                   data-height="none"
                   data-fontsize="['60','60','40','24']"
                   data-lineheight="['70','70','70','60']"
                   data-whitespace="nowrap"
                   data-type="text"
                   data-responsive_offset="on"

                   data-frames='[
                                    {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},
                                    {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
                                    ]'

                   data-textAlign="['center','center','center','center']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index: 13;
                          white-space: normal;
                          font-weight: 700;
                          color: rgba(255, 255, 255, 1.00);
                          border-width:0px;
                          margin-left: -35px;">
                  <span style="font-family:'Roboto' ;">
                      <span class="text-primary text-uppercase">{data.tx_mask_higlight_title} </span>
                  </span>
              </div>

              <!-- LAYER NR. 4 [ for title ] -->
              <div class="tp-caption RotatingWords-TitleWhite   tp-resizeme  tounblur"
                   id="slide-100-layer-4"
                   data-x="['left','left','left','left']" data-hoffset="['570','500','350','220']"
                   data-y="['top','top','top','top']" data-voffset="['300','300','300','300']"
                   data-width="none"
                   data-height="none"
                   data-fontsize="['60','60','40','24']"
                   data-lineheight="['70','70','70','60']"
                   data-whitespace="nowrap"
                   data-type="text"
                   data-responsive_offset="on"

                   data-frames='[
                                    {"delay":2000,"split":"chars","splitdelay":0.1,"speed":500,"frame":"0","from":"sX:0.8;sY:0.8;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},
                                    {"delay":"+800","split":"chars","splitdelay":0.03,"speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;","ease":"Power3.easeIn"}
                                    ]'

                   data-textAlign="['left','left','left','left']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index: 13;
                                    white-space: normal;
                                    font-weight: 700;
                                    color: rgba(255, 255, 255, 1.00);
                                    border-width:0px;">
                <f:variable name="fistItem" value="{v:variable.get(name: 'data.tx_mask_secondary_title_wrap.0')}"/>
                <f:variable name="secondItem" value="{v:variable.get(name: 'data.tx_mask_secondary_title_wrap.1')}"/>
                <f:variable name="thirdItem" value="{v:variable.get(name: 'data.tx_mask_secondary_title_wrap.2')}"/>
                <f:variable name="fourthItem" value="{v:variable.get(name: 'data.tx_mask_secondary_title_wrap.3')}"/>
                <span class="text-uppercase" style="font-family:'Roboto' ;">{fistItem.tx_mask_secondary_title}</span>
              </div>

              <!-- LAYER NR. 5 [ for title ] -->
              <div class="tp-caption RotatingWords-TitleWhite   tp-resizeme  tounblur"
                   id="slide-100-layer-5"
                   data-x="['left','left','left','left']" data-hoffset="['570','500','350','220']"
                   data-y="['top','top','top','top']" data-voffset="['300','300','300','300']"
                   data-width="none"
                   data-height="none"
                   data-fontsize="['60','60','40','24']"
                   data-lineheight="['70','70','70','60']"
                   data-whitespace="nowrap"
                   data-type="text"
                   data-responsive_offset="on"

                   data-frames='[
                                    {"delay":5000,"split":"chars","splitdelay":0.1,"speed":500,"frame":"0","from":"sX:0.8;sY:0.8;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},
                                    {"delay":"+1000","split":"chars","splitdelay":0.03,"speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;","ease":"Power3.easeIn"}
                                    ]'

                   data-textAlign="['left','left','left','left']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index: 13;
                                    white-space: normal;
                                    font-weight: 700;
                                    color: rgba(255, 255, 255, 1.00);
                                    border-width:0px;">
                <span class="text-uppercase" style="font-family:'Roboto' ;">{secondItem.tx_mask_secondary_title}</span>
              </div>

              <!-- LAYER NR. 6 [ for title ] -->
              <div class="tp-caption RotatingWords-TitleWhite   tp-resizeme  tounblur"
                   id="slide-100-layer-6"
                   data-x="['left','left','left','left']" data-hoffset="['570','500','350','220']"
                   data-y="['top','top','top','top']" data-voffset="['300','300','300','300']"
                   data-width="none"
                   data-height="none"
                   data-fontsize="['60','60','40','24']"
                   data-lineheight="['70','70','70','60']"
                   data-whitespace="nowrap"
                   data-type="text"
                   data-responsive_offset="on"

                   data-frames='[
                                    {"delay":8000,"split":"chars","splitdelay":0.1,"speed":500,"frame":"0","from":"sX:0.8;sY:0.8;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},
                                    {"delay":"+1200","split":"chars","splitdelay":0.03,"speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;","ease":"Power3.easeIn"}
                                    ]'

                   data-textAlign="['left','left','left','left']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index: 13;
                                    white-space: normal;
                                    font-weight: 700;
                                    color: rgba(255, 255, 255, 1.00);
                                    border-width:0px;">
                <span class="text-uppercase" style="font-family:'Roboto' ;">{thirdItem.tx_mask_secondary_title}</span>
              </div>

              <!-- LAYER NR. 7 [ for title ] -->
              <div class="tp-caption RotatingWords-TitleWhite   tp-resizeme  tounblur"
                   id="slide-100-layer-7"
                   data-x="['left','left','left','left']" data-hoffset="['570','500','350','220']"
                   data-y="['top','top','top','top']" data-voffset="['300','300','300','300']"
                   data-width="none"
                   data-height="none"
                   data-fontsize="['60','60','40','24']"
                   data-lineheight="['70','70','70','60']"
                   data-whitespace="nowrap"
                   data-type="text"
                   data-responsive_offset="on"

                   data-frames='[
                                    {"delay":12000,"split":"chars","splitdelay":0.1,"speed":500,"frame":"0","from":"sX:0.8;sY:0.8;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},
                                    {"delay":"wait","split":"chars","splitdelay":0.03,"speed":500,"frame":"999","to":"sX:0.9;sY:0.9;opacity:0;","ease":"Power3.easeIn"}
                                    ]'

                   data-textAlign="['left','left','left','left']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index: 13;
                                    white-space: normal;
                                    font-weight: 700;
                                    color: rgba(255, 255, 255, 1.00);
                                    border-width:0px;">
                <span class="text-uppercase" style="font-family:'Roboto' ; ">{fourthItem.tx_mask_secondary_title}</span>
              </div>

              <!-- LAYER NR. 8 [ for paragraph] -->
              <div class="tp-caption  tp-resizeme"
                   id="slide-100-layer-8"
                   data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                   data-y="['top','top','top','top']" data-voffset="['400','400','400','380']"
                   data-fontsize="['18','18','18','18']"
                   data-lineheight="['30','30','30','24']"
                   data-width="['800','800','600','300']"
                   data-height="['none','none','none','none']"
                   data-whitespace="['normal','normal','normal','normal']"

                   data-type="text"
                   data-responsive_offset="on"
                   data-frames='[
                                    {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},
                                    {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
                                    ]'
                   data-textAlign="['center','center','center','center']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index: 13;
                                    font-weight: 500;
                                    color: rgba(255, 255, 255, 0.85);
                                    border-width:0px;">
                <span style="font-family:'Roboto';"><f:format.nl2br>{data.tx_mask_video_text}</f:format.nl2br></span>
              </div>

              <!-- LAYER NR. 9 [ for readmore botton ] -->
              <div class="tp-caption tp-resizeme container"
                   id="slide-100-layer-9"
                   data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                   data-y="['top','top','top','top']" data-voffset="['500','500','550','550']"
                   data-lineheight="['none','none','none','none']"
                   data-width="['450','300','300','300']"
                   data-height="['none','none','none','none']"
                   data-whitespace="['normal','normal','normal','normal']"

                   data-type="text"
                   data-responsive_offset="on"
                   data-frames='[
                                    {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeOut"},
                                    {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
                                    ]'
                   data-textAlign="['center','center','center','center']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index:13; text-transform:uppercase; font-weight:700;">
                <div class="row">
                  <div class="{f:if(condition: '{data.tx_mask_second_button_link}', then: 'col-md-6')}">
                    <f:link.typolink parameter="{data.tx_mask_button_link}" class="custom-slider-button site-button-secondry button-lg">
                      {data.tx_mask_video_button_label}
                    </f:link.typolink>
                  </div>
                  <div class="col-md-6">
                    <f:link.typolink parameter="{data.tx_mask_second_button_link}" class="custom-slider-button site-button-secondry site-button-inverse button-lg">
                      {data.tx_mask_second_button_label}
                    </f:link.typolink>
                  </div>
                </div>
              </div>

            </li>
          </ul>
          <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
      </div>
      <!-- END REVOLUTION SLIDER -->
    </div>
  </div>
</div>
</html>