<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="section-full bg-gray p-t80 p-b120 why-choose-us-element">
  <div class="container">

    <div class="section-head text-center">
      <f:if condition="{data.header}">
        <f:render partial="Header" arguments="{header: data.header, layout: data.header_layout, additionalClass: 'text-uppercase'}"/>
      </f:if>
      <div class="wt-separator-outer">
        <div class="wt-separator style-square">
          <span class="separator-left bg-primary"></span>
          <span class="separator-right bg-primary"></span>
        </div>
      </div>
      <p>{data.subheader}</p>
    </div>

    <div class="section-content no-col-gap">
      <div class="row">

        <f:for each="{data.tx_mask_square}" as="square">

          <div class="col-sm-4 col-sm-6 animate_line">
            <div class="wt-icon-box-wraper  p-a30 center bg-white m-a5">
              <div class="icon-sm text-primary m-b20">
                <p class="icon-cell"><i class="{square.tx_mask_icon_name}" aria-hidden="true"></i></p>
              </div>
              <div class="icon-content">
                <h5 class="wt-tilte text-uppercase">{square.tx_mask_title}</h5>
                <p>{square.tx_mask_subtitle}</p>
              </div>
            </div>
          </div>

        </f:for>

      </div>
    </div>
  </div>
</div>

</html>