<div xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
     xmlns:e="DigitalZombies\DzBase\ViewHelpers"
     data-namespace-typo3-fluid="true">

  <f:variable name="phoneFormatMain" value="{e:phoneNumber(number: '{settings.contacts.phoneMain}')}"/>
  <header class="site-header header-style-5">
    <div class="top-bar bg-secondry d-none d-md-block">
      <div class="container">
        <div class="row">
          <div class="wt-topbar-left">
            <ul class="display-inline e-p-bx list-unstyled">
              <f:for each="{languageMenu}" as="lang">
                <f:if condition="{lang.active} == 0">
                  <f:then>
                    <li>
                      <f:link.typolink parameter="{lang.link}">
                        <f:render section="languageItem" arguments="{lang: lang}"/>
                      </f:link.typolink>
                    </li>
                  </f:then>
                  <f:else>
                    <li class="active">
                      <f:render section="languageItem" arguments="{lang: lang}"/>
                    </li>
                  </f:else>
                </f:if>
              </f:for>
            </ul>
          </div>
          <div class="wt-topbar-right clearfix">
            <ul class="list-unstyled e-p-bx pull-right">
              <li>
                <i class="iconmoon-clock"></i>
                {settings.contacts.openTime}
              </li>
              <li>
                <f:link.typolink class="m-b0" parameter="{settings.contacts.email}" title="{settings.contacts.email}">
                  <i class="iconmoon-envelope-1"></i>
                  {settings.contacts.email}
                </f:link.typolink>
              </li>
              <li>
                <f:link.typolink parameter="tel:{phoneFormatMain}"><i class="iconmoon-smartphone-1"></i>
                  {settings.contacts.phoneMain}
                </f:link.typolink>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="sticky-header main-bar-wraper">
      <div class="main-bar">
        <div class="container">
          <div class="logo-header mostion">
            Logo
            </f:link.page>
          </div>
          <button data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggle collapsed ">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- MAIN Vav -->
          <div class="header-nav navbar-collapse collapse nav-dark">
            <div class="top-bar bg-secondry d-md-none">
              <div class="container">
                <div class="row">
                  <div class="wt-topbar-left">
                    <ul class="display-inline e-p-bx list-unstyled">
                      <f:for each="{languageMenu}" as="lang">
                        <f:if condition="{lang.active} == 0">
                          <f:then>
                            <li>
                              <f:link.typolink parameter="{lang.link}">
                                <f:render section="languageItem" arguments="{lang: lang}"/>
                              </f:link.typolink>
                            </li>
                          </f:then>
                          <f:else>
                            <li class="active">
                              <f:render section="languageItem" arguments="{lang: lang}"/>
                            </li>
                          </f:else>
                        </f:if>
                      </f:for>
                    </ul>
                  </div>
                  <div class="wt-topbar-right clearfix">
                    <ul class="list-unstyled e-p-bx">
                      <li class="list-item">
                        <i class="iconmoon-clock"></i>
                        {settings.contacts.openTime}
                      </li>
                      <li class="list-item">
                        <f:link.email class="m-b0" email="{settings.contacts.email}" title="{settings.contacts.email}">
                          <i class="iconmoon-envelope-1"></i>
                          {settings.contacts.email}
                        </f:link.email>
                      </li>
                      <li class="list-item">
                        <f:link.typolink parameter="tel:{phoneFormatMain}"><i class="iconmoon-smartphone-1"></i>
                          {settings.contacts.phoneMain}
                        </f:link.typolink>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <ul class="nav navbar-nav">
              <f:for each="{navMain}" as="menuItem">
                <li class="{f:if(condition: '{menuItem.children}',then: 'has-child ')}{f:if(condition: '{menuItem.active}',then: 'active')}">
                  <a href="{menuItem.link}">
                    {menuItem.title}
                    <f:if condition="{menuItem.children}"><i class="fa fa-chevron-down"></i>
                      <div class=" glyphicon glyphicon-plus submenu-toogle"></div>
                    </f:if>
                  </a>
                  <f:if condition="{menuItem.children}">
                    <ul class="sub-menu">
                      <f:for each="{menuItem.children}" as="subMenuItem">
                        <li {f:if(condition:
                        '{subMenuItem.active}',then: 'class="active"')}>
                        <a href="{subMenuItem.link}">{subMenuItem.title}</a>
                        </li>
                      </f:for>
                    </ul>
                  </f:if>
                </li>
              </f:for>
            </ul>
            <div class="navber-right">
              <a href="/jelentkezes" class="btn">Regisztrálok termelőként</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <f:section name="languageItem">
    <f:switch expression="{lang.languageUid}">
      <f:case value="0">
        <span>HU</span>
      </f:case>
      <f:case value="1">
        <span>EN</span>
      </f:case>
      <f:defaultCase>
        <span>HU</span>
      </f:defaultCase>
    </f:switch>
  </f:section>
</div>