<div xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
     xmlns:e="DigitalZombies\DzBase\ViewHelpers"
     data-namespace-typo3-fluid="true">

  <f:variable name="phoneFormatMain" value="{e:phoneNumber(number: '{settings.contacts.phoneMain}')}"/>

  <!-- HEADER -->
  <header class="site-header header-style-3">
    <div class="top-bar bg-secondry">
      <div class="container">
        <div class="row">
          <div class="wt-topbar-right clearfix">
            <ul class="list-unstyled e-p-bx pull-right">

              <li>
                <f:link.email class="m-b0" email="{settings.contacts.email}" title="{settings.contacts.email}">
                  <i class="fa fa-envelope"></i>
                  {settings.contacts.email}
                </f:link.email>
              </li>
              <li>
                <a href="tel:{phoneFormatMain}"><i class="fa fa-phone"></i>
                  {settings.contacts.phoneMain}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="sticky-header main-bar-wraper">
      <div class="main-bar">
        <div class="container">
          <div class="logo-header mostion">
            <a href="index.html">
              <img src="images/logo-light.png" width="230" height="67" alt=""/>
            </a>
          </div>

          <!-- NAV Toggle Button -->
          <button data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
            <span class="sr-only">
              <f:translate key="footer.toggle_nav" extensionName="emmabase"/>
            </span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <f:comment>
            <!-- SITE Search -->
            <div id="search">
              <span class="close"></span>
              <form role="search" id="searchform" action="/search" method="get" class="radius-xl">
                <div class="input-group">
                  <input value="" name="q" type="search" placeholder="Type to search"/>
                  <span class="input-group-btn"><button type="button" class="search-btn"><i class="fa fa-search"></i></button></span>
                </div>
              </form>
            </div>
          </f:comment>

          <!-- MAIN Vav -->
          <div class="header-nav navbar-collapse collapse nav-dark">
            <ul class=" nav navbar-nav">

              <f:for each="{navMain}" as="menuItem">
                <li class="{f:if(condition: '{menuItem.children}',then: 'has-child ')}{f:if(condition: '{menuItem.active}',then: 'active')}">
                  <a href="{menuItem.link}">
                    {menuItem.title}
                    <f:if condition="{menuItem.children}"><i class="fa fa-chevron-down"></i>
                      <div class=" glyphicon glyphicon-plus submenu-toogle"></div>
                    </f:if>
                  </a>
                  <f:if condition="{menuItem.children}">
                    <ul class="sub-menu">
                      <f:for each="{menuItem.children}" as="subMenuItem">
                        <li {f:if(condition:
                        '{subMenuItem.active}',then: 'class="active"')}>
                        <a href="{subMenuItem.link}">{subMenuItem.title}</a>
                        </li>
                      </f:for>
                    </ul>
                  </f:if>
                </li>
              </f:for>

            </ul>

            <div class="navbar-right">
              <a href="/jelentkezes" class="btn">Regisztrálok termelőként</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- HEADER END -->
</div>