<div xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:e="DigitalZombies\DzBase\ViewHelpers"
    data-namespace-typo3-fluid="true">

    <header class="header-default">
        <nav class="navbar navbar-expand-lg">
            <div class="container-xl">
                <!-- site logo -->
                <a class="navbar-brand" href="/"><img src="/typo3conf/ext/emmabase/Resources/Public/src/images/logo.jpg"
                        alt="logo" /></a>

                <div class="collapse navbar-collapse" id="mainHeaderMenu">
                    <!-- menus -->
                    <ul class="navbar-nav mr-auto">
                        <f:for each="{navMain}" as="menuItem">
                            <li
                                class="nav-item {f:if(condition: '{menuItem.active}' ,then: 'active' )} {f:if(condition: '{menuItem.children}' ,then: ' dropdown' )}">
                                <f:link.typolink
                                    class="nav-link {f:if(condition: '{menuItem.children}' ,then: ' dropdown-toggle' )}"
                                    parameter="{menuItem.link}">{menuItem.title}</f:link.typolink>
                                <f:if condition="{menuItem.children}">
                                    <ul class="dropdown-menu">
                                        <f:for each="{menuItem.children}" as="subMenuItem">
                                            <li>
                                                <f:link.typolink class="dropdown-item" parameter="{subMenuItem.link}">
                                                    {subMenuItem.title}
                                                </f:link.typolink>
                                            </li>
                                        </f:for>
                                    </ul>
                                </f:if>
                            </li>
                        </f:for>
                    </ul>
                </div>
                <div class="header-left">
                    <f:comment>
                        <f:link.typolink parameter="19" class="btn">Jelentkezés</f:link.typolink>/
                    </f:comment>
                    <f:comment>
                        <a href="/jelentkezes" class="btn btn-orange">Regisztrálok termelőként</a>
                    </f:comment>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#mainHeaderMenu"
                        aria-expanded="true">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <f:comment>

                    <!-- header right section -->
                    <div class="header-right">
                        <!-- social icons -->
                        <ul class="social-icons list-unstyled list-inline mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-medium"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                        <!-- header buttons -->
                        <div class="header-buttons">
                            <button class="search icon-button">
                                <i class="icon-magnifier"></i>
                            </button>
                            <button class="burger-menu icon-button">
                                <span class="burger-icon"></span>
                            </button>
                        </div>
                    </div>
                </f:comment>
            </div>
        </nav>
    </header>

    <f:section name="languageItem">
        <f:switch expression="{lang.languageUid}">
            <f:case value="0">
                <span>HU</span>
            </f:case>
            <f:case value="1">
                <span>EN</span>
            </f:case>
            <f:defaultCase>
                <span>HU</span>
            </f:defaultCase>
        </f:switch>
    </f:section>
</div>
