$primary-color: #444;
$secondary-color: #fff;
$background-color: #fff;
$primary_font_family: 'Mulish', sans-serif;
$html-font-size: 16px;

@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}




$dz-blue: #25aecc;
$dz-blue-grey: #6b7e82;
$dz-darker-blue: #25aecc;
$dz-dark-blue: #0096b8;
$dz-dark: #3e4e67;
$dz-light-grey: #edf6f9;
$white: #fff;


$black-color: $dz-dark;
$dark: $dz-dark;
$dark-green-grey: $dz-dark;

$dark-blue: #2d3032;

$full-black: #222;

$white: #fff;

$yellow: #75c8d7;

$light-grey: #333333;

$grey: #6b7e82;

$light-color: #eee;



$sand-grey: #777;

$green: #77C04B;

$orange: #FF6600;

$neon-green: #00CC00;

$red: #FF3737;

$dark-red: #99090A;

$light-green: #557131;

$dark-yellow: #99910A;

$dark-blue: #004F83;