.category-teaser{
  .row{
    justify-content: center;
  }
  .category-teaser_item {
    width: 33%;
    padding: 0 15px;
    div{
      position: relative;
      width: 100%;
    }

    img{
      width: 100%;
    }
  }
  .category-teaser_title {
    padding: 0 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    margin: 0;
    padding: 3px;
    background: rgba(0,0,0,.5);
  }
}