@import "variables";

.footer-fixed .site-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer-fixed .page-content {
  position: relative;
  z-index: 1;
  background-color: $white;
}

@media only screen and (max-width: 1200px) {
  .footer-fixed .site-footer {
    position: static;
  }
  .footer-fixed .page-wraper {
    padding-bottom: 0 !important;
  }
}

/*1.2 footer fixed with boxed view*/
.footer-fixed.boxed .site-footer {
  margin: 0 -600px;
  left: 50%;
  max-width: 1200px;
}

.footer-fixed.boxed .wt-footer-callout-wrap {
  overflow: hidden;
}



footer {
  /*1.3 Constrot strip line*/
  .constrot-strip {
    position: relative;
    height: 15px;
    width: 100%;
    background-color: $dz-dark-blue;
    //background-image: url('/typo3conf/ext/emmabase/Resources/Public/assets/images/footer-strip.png');
    background-repeat: repeat-x;
    background-position: center top;
  }
}

.site-footer .widget > .widget-title {
  text-transform: uppercase;
}

.site-footer p,
.site-footer li {
  font-size: 13px;
  line-height: 20px;
}

.site-footer {
  background-position: center;
  background-size: cover;
}

.site-footer p {
  line-height: 20px;
}

.site-footer .widget ul {
  list-style: none;
  margin-top: 5px;
}

.footer-top {
  padding: 50px 0;
}

.footer-bottom {
  padding: 0px 0px 30px 0px;
  color: $dz-blue-grey;
  font-size: 13px;
}

.footer-bottom .copyrights-text {
  color: $dz-blue-grey;
}

.footer-bottom .copyrights-nav {
  list-style: none;
  display: inline-block;
}

.footer-bottom .copyrights-nav li {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}

.footer-bottom .copyrights-nav li:first-child {
  margin-left: 0;
}

.footer-bottom .copyrights-nav li:last-child {
  margin-right: 0;
}

.footer-bottom .copyrights-nav li:last-child:after {
  display: none;
}

.footer-bottom .copyrights-nav li:after {
  content: "/";
  position: relative;
  right: -8px;
}

.footer-bottom .copyrights-nav li a {
  color: $dz-blue-grey;
}

.footer-bottom .copyrights-nav li a:hover,
.footer-bottom .copyrights-nav li a:active,
.footer-bottom .copyrights-nav li a:focus,
.footer-bottom .copyrights-nav li.active a {
  color: $yellow;
}

/*-------------------------------------
	2. Footer dark version css
-------------------------------------*/
.footer-dark .footer-top {
  background-color: $black-color;
}

.footer-dark .footer-bottom {
  background-color: #0e0e0e;
}

.footer-dark .footer-top h1,
.footer-dark .footer-top h2,
.footer-dark .footer-top h3,
.footer-dark .footer-top h4,
.footer-dark .footer-top h5,
.footer-dark .footer-top h6,
.footer-dark .footer-top h1 a,
.footer-dark .footer-top h2 a,
.footer-dark .footer-top h3 a,
.footer-dark .footer-top h4 a,
.footer-dark .footer-top h5 a,
.footer-dark .footer-top h6 a {
  color: $white;
}

.footer-dark .footer-top .widget-title::before {
  border-color: $white;
}

.footer-dark .footer-top p,
.footer-dark .footer-top strong,
.footer-dark .footer-top b,
.footer-dark .footer-top,
.footer-dark .widget_categories ul li a,
.footer-dark .widget_archive ul li a,
.footer-dark .widget_meta ul li a,
.footer-dark .widget_pages ul li a,
.footer-dark .widget_recent_comments ul li a,
.footer-dark .widget_nav_menu li a,
.footer-dark .widget_recent_entries ul li a,
.footer-dark .widget_services ul li a {
  color: $dz-blue-grey;
}

.footer-dark .footer-top a:active,
.footer-dark .footer-top a:focus,
.footer-dark .footer-top a:hover {
  color: $yellow;
}

.footer-dark .footer-top p a {
  color: #3396d1;
}

.footer-dark .footer-top .widget_newsletter .form-control {
  background-color: #0e0e0e;
  border-color: #2d2d2d;
}

.footer-light .footer-top {
  background-color: #eee;
}

.footer-light .footer-bottom {
  background-color: #ddd;
}

/*-------------------------------------
	3. Footer light version css
-------------------------------------*/
/*-------------------------------------
	4. widget li in footer
-------------------------------------*/
footer .widget_categories ul li,
footer .widget_archive ul li,
footer .widget_meta ul li,
footer .widget_pages ul li,
footer .widget_recent_comments ul li,
footer .widget_nav_menu li,
footer .widget_recent_entries ul li,
footer .widget_services ul li {
  border-bottom: 1px dashed rgba(102, 102, 102, 0.3);
}

footer .widget_categories ul li:last-child,
footer .widget_archive ul li:last-child,
footer .widget_meta ul li:last-child,
footer .widget_pages ul li:last-child,
footer .widget_recent_comments ul li,
footer .widget_nav_menu li:last-child,
footer .widget_recent_entries ul li:last-child,
footer .widget_services ul li:last-child {
  border-bottom: none;
}

/*-------------------------------------
	5. widget Getintuch
-------------------------------------*/
footer .widget_getintuch i {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.30);
}

.footer-bottom ul {
  margin: 0;
}

.wt-footer-bot-left,
.wt-footer-bot-right,
.wt-footer-bot-center {
  padding-left: 15px;
  padding-right: 15px;
}

.wt-footer-bot-left {
  float: left;
}

.wt-footer-bot-right {
  float: right;
}

.wt-footer-bot-center {
  float: right;
}

@media only screen and (max-width: 991px) {
  footer .container {
    width: 100%;
  }
  .col-md-3.col-sm-6.footer-col-4:nth-child(3) {
    clear: both;
  }
  .wt-footer-bot-left,
  .wt-footer-bot-right {
    float: none;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .wt-footer-bot-right .copyrights-nav {
    float: none !important;
  }
}

@media only screen and (max-width: 767px) {
  .footer-clear {
    display: block !important;
    clear: both;
  }
  #footer .footer-4-col {
    width: 100%;
  }
  .footer-bottom [class*="clo-"] {
    width: 100%;
  }
}

/*-------------------------------------
	6. scroll top btn css
-------------------------------------*/
button.scroltop {
  height: 55px;
  width: 55px;
  background: $white;
  border: 2px solid $dz-dark-blue;
  position: fixed;
  right: 15px;
  bottom: 15px;
  font-size: 11px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: none;
  text-align: center;
  z-index: 999;
  -webkit-border-radius: 50%;
  border-radius: 0;
  &:focus {
    outline: none;
  }
}

button.scroltop span {
  display: block;
  font-size: 24px;
  line-height: 24px;
}

.string {
  position: relative;
}

#btn-vibrate {
  animation: vibrate 2s linear 0s infinite;
  -moz-animation: vibrate 2s linear 0s infinite;
  /* Firefox */
  -webkit-animation: vibrate 2s linear 0s infinite;
  /* Safari and Chrome */
  -o-animation: vibrate 2s linear 0s infinite;
  /* Opera */
}

@keyframes vibrate {
  0% {
    top: 0px;
  }
  25% {
    top: -3px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 3px;
  }
  100% {
    top: 0px;
  }
}

/* Firefox */
@-moz-keyframes vibrate {
  0% {
    top: 0px;
  }
  25% {
    top: -3px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 3px;
  }
  100% {
    top: 0px;
  }
}

/* Safari and Chrome */
@-webkit-keyframes vibrate {
  0% {
    top: 0px;
  }
  25% {
    top: -3px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 3px;
  }
  100% {
    top: 0px;
  }
}

/* Opera */
@-o-keyframes vibrate {
  0% {
    top: 0px;
  }
  25% {
    top: -3px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 3px;
  }
  100% {
    top: 0px;
  }
}

@media only screen and (max-width: 480px) {
  button.scroltop {
    font-size: 7px;
    height: 30px;
    width: 30px;
    line-height: 16px;
  }
  button.scroltop span {
    font-size: 10px;
    line-height: 10px;
  }
}
