@import "variables";

@font-face {
  font-family: Noto;
  src: url(../fonts/Noto_Sans/NotoSansSC-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: "Mulish";
  src: url(../fonts/Mulish/static/Mulish-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Mulish";
  src: url(../fonts/Mulish/static/Mulish-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Mulish";
  src: url(../fonts/Mulish/static/Mulish-Bold.ttf);
  font-weight: 700;
}

html {
  font-size: 16px;
}

body {
  background-color: $background-color;
  font-family: $primary_font_family;
  font-size: rem(16px);
  font-weight: 400;
  color: #363636;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: $primary-color;
  outline: 0 none;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: 0 none;
}

a:active,
a:hover,
a:focus {
  color: $light-grey;
}

p a {
  color: $light-grey;
}

img {
  border-style: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

hr {
  clear: both;
}

section,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
summary {
  display: block;
}

address {
  font-style: italic;
}

table {
  background-color: transparent;
  width: 100%;
}

table thead th {
  color: #333;
}

table td {
  padding: 15px 10px;
}

@media only screen and (max-width: 360px) {
  table td {
    word-break: break-all;
  }
}

p,
address,
pre,
hr,
ul,
ol,
dl,
dd,
table {
  margin-bottom: 24px;
}

.overflow-hide {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.clear {
  clear: both;
}

.pull-none {
  float: none;
}

::selection {
  background: $dz-blue;
  color: $white;
}

::-moz-selection {
  background: $dz-blue;
  color: $white;
}

::-webkit-selection {
  background: $dz-blue;
  color: $white;
}

@media only screen and (max-width: 600px) {
  .col-xs-100pc {
    width: 100%;
  }
}

/*======================================
2. HEADING & TITLE
======================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 24px;
  font-family: $primary_font_family;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #3d474a;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: $yellow;
}

h1 {
  font-family: Roboto;
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  color: #3d474a;
}

h2 {
  font-family: Roboto;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: $black-color;
}

h3 {
  font-family: Roboto;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #3d474a;
  margin-bottom: 20px;
}

h4 {
  font-family: Roboto;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: $black-color;
  margin-bottom: 15px;
}

h5 {
  font-family: Roboto;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: $black-color;
  margin-bottom: 10px;
}

h6 {
  font-family: Roboto;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #3d474a;
  margin-bottom: 10px;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

.display-block {
  display: block;
}

p {
  line-height: 24px;
  margin-bottom: 24px;
  font-family: $primary_font_family;
}

strong {
  font-weight: 600;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify
}

.text-lowercase {
  text-transform: lowercase
}

.text-uppercase {
  text-transform: uppercase
}

.text-capitalize {
  text-transform: capitalize
}

.text-nowrap {
  white-space: nowrap
}

input[type=text],
input[type=password],
input[type=email],
input[type=submit] {
  height: 2rem;
}


.counter_content {
  display: flex;
  justify-content: space-around;
  padding: 2rem;

  .font-26 {
    font-size: 4vw;
    line-height: 32px;
    margin-bottom: 3rem;
  }
}

.stage {
  position: relative;
  
  .wt-bnr-inr-entry {
    padding: 2rem;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 7px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, .5);
    color: #fff;

    h1 {
      font-family: Noto;
      font-size: 3vw;
      text-align: left;
      line-height: 4rem;
    }
  }
}

footer {
  background: #444;
  color: #fff;

  .col-4 {
    padding: 3rem 0;
  }

  .footer-bottom {
    background-color: #222;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  ul {
    list-style-type: none;

    li {
      float: left;
      padding: 0 15px;
      font-family: $primary_font_family;
    }
  }
}

.timeline {

  h5 {
    font-size: 2rem;
    line-height: 1.2;
    margin: 0;
  }

  .timeline-item {
    min-height: 150px;
  }
}

h2.text-uppercase.text-white {
  font-size: 3rem;
}