@import "variables";

.site-header {
  top: -34px;
  position: sticky;
  z-index: 100;
  background: #fff;

  .top-bar {
    background: linear-gradient(to right, #ff9a48, #000);

    .row {
      justify-content: flex-end;
    }

    .top-bar_content li a,
    .top-bar_content li button {
      color: #fff;
      padding: 0 15px;
      font-size: 14px;
    }

  }

  .top-bar_content {
    padding: .5rem 0;

    ul {
      display: flex;
      justify-content: flex-end;
      list-style-type: none;
      margin: 0;
    }
  }

  .login-button {
    border: none;
    background: transparent;
    color: $secondary-color;
    cursor: pointer;
  }

  .loggedin-user {
    color: #fff;
  }

  .main-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .logo-header img {
      width: 130px;
      height: auto;
    }
  }

  .navbar-nav {
    list-style-type: none;
    display: flex;
    margin: 0;

    li {
      margin-left: 2rem;
    }
  }

  .nav.navbar-nav li:nth-of-type(5) a {
    background: #945928;
    padding: 9px 26px;
    color: #fff;
    border-radius: 4px;
  }
}