.frame-type-login {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  z-index: 1001;

  &.active{
    display: block;
  }
}

.tx-felogin-pi1 {
  max-width: 600px;
  margin: 0 auto;
  background: #fff;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  padding: 30px;
  z-index: 10;
}