.user-items {
  .user-item {
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    display: flex;
  }

  .user-item_title {
    margin-top: 0;
  }

  .user-item_edit {
    background: cornflowerblue;
    color: #fff;
    padding: 3px 18px;
    border: 1px solid mediumblue;
    border-radius: 3px;
    font-weight: 300;
  }

  .user-item_delete {
    background: red;
    color: #fff;
    padding: 3px 18px;
    border: 1px solid darkred;
    border-radius: 3px;
    font-weight: 300;
  }

  .user-item_details{
    padding-left: 20px;
  }

  .user-items_new-button{
    background: green;
    color: #fff;
    padding: 3px 18px;
    border: 1px solid darkgreen;
    border-radius: 3px;
    font-weight: 300;
  }
}