.news-item {
  .user-ittem_image {
    width: 200px;
    height: 150px;
    object-fit: cover;
    max-height: 100%;
  }

  .post-title {
    a{
      margin-top: 15px;
    }
  }

  .blog-post {
    margin-bottom: 30px;
    box-shadow: 2px 2px 8px #ccc;
    height: 150px;
  }

  .wt-post-info {
    padding: 10px 20px;
    flex-grow: 1;
  }

  .wt-post-info_top {
    display: flex;
    justify-content: space-between;
  }
}