.f3-widget-paginator {
  display: none;
}

#title,
#teaser {
  width: 100%;
  height: 2rem;
}

.form-input-wrapper {
  display: flex;
  margin-bottom: 10px;

  label {
    width: 30%;
    display: inline-block;
  }

  input {
    flex-grow: 1;
  }
}