.glide__slides {
  align-items: center;

  .glide__slide {
    padding: 20px;
  }
}

.sponsor-slider{
  background-color: #f2f2f2;
  padding: 3rem 0;
  h2{
    text-align: center;
    font-size: 3rem;
  }
}