.three-col-teaser {
  padding-top: 80px;
  padding-bottom: 80px;

  h2 {
    text-align: center;
  }

  img {
    transition: 1s;
  }

  img:hover {
    transform: scale(1.1);
  }

  .image-wrapper {
    overflow: hidden;
  }
}