<div xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:e="DigitalZombies\DzBase\ViewHelpers"
  data-namespace-typo3-fluid="true" class>

  <footer id="footerPageId-{data.uid}">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <ul class="footer-meta">
            <f:for each="{navFooterMeta}" as="navItem">
              <li>
                <a href="{navItem.link}">
                  {navItem.title}
                </a>
              </li>
            </f:for>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        A webpage by Robert Nagy
      </div>
    </div>
  </footer>


</div>