<div xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
     xmlns:e="DigitalZombies\DzBase\ViewHelpers"
     data-namespace-typo3-fluid="true">

  <f:variable name="phoneFormatMain" value="{e:phoneNumber(number: '{settings.contacts.phoneMain}')}"/>
  <f:variable name="phoneFormatSecondary" value="{e:phoneNumber(number: '{settings.contacts.phoneSecondary}')}"/>
  <f:variable name="mobile" value="{e:phoneNumber(number: '{settings.contacts.phoneMobile}')}"/>

  <footer class="site-footer footer-dark">
    <div class="footer-top overlay-wraper">
      <div class="overlay-main"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3">
            <div class="widget widget_about">
              <h4 class="widget-title">
                <f:translate key="general.about_us" extensionName="emmabase"/>
              </h4>
              <div class="logo-footer clearfix p-b15">
                <f:link.page pageUid="{settings.root}" title="emmabase Icon">
                  <f:if condition="{settings.lamber_icon}">
                    <f:image src="{settings.lamber_icon}" alt="emmabase Icon"/>
                  </f:if>
                </f:link.page>
              </div>
              <f:if condition="{settings.contacts.aboutUsText}">
                <p>
                  <f:translate key="{settings.contacts.aboutUsText}" extensionName="emmabase"/>
                </p>
              </f:if>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="widget widget_services">
              <h4 class="widget-title">
                <f:translate key="footer.useful_links" extensionName="emmabase"/>
              </h4>
              <ul>
                <f:for each="{navUsefulLinks}" as="usefulLinks">
                  <li><a href="{usefulLinks.link}">{usefulLinks.title}</a></li>
                </f:for>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 p-b20 ">
            <div class="col-sm-12 p-b20">
              <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix">
                <f:link.typolink parameter="{settings.contacts.googleMapsAddress}" additionalAttributes="{rel:'noopener'}" target="_blank">
                  <div class="pushedToCenter">
                    <div class="icon-md text-primary">
                      <span class="iconmoon-travel"></span>
                    </div>
                    <div class="icon-content">
                      <h5 class="wt-tilte text-uppercase m-b0">
                        <f:translate key="general.address" extensionName="emmabase"/>
                      </h5>
                      {settings.contacts.address}
                    </div>
                  </div>
                </f:link.typolink>
              </div>
            </div>
            <div class="col-sm-6  p-b20 ">
              <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix ">
                <f:link.typolink parameter="tel:{phoneFormatMain}">
                  <div class="pushedToCenter">
                    <div class="icon-md text-primary">
                      <span class="fa fa-phone footer--icon__phone"></span>
                    </div>
                    <div class="icon-content">
                      <h5 class="wt-tilte text-uppercase m-b0">
                        <f:translate key="general.phone" extensionName="emmabase"/>
                      </h5>
                      <span class="m-b0">{settings.contacts.phoneMain}</span>
                    </div>
                  </div>
                </f:link.typolink>
              </div>
            </div>
            <div class="col-sm-6  p-b20 ">
              <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix ">
                <f:link.typolink parameter="tel:{mobile}">
                  <div class="pushedToCenter">
                    <div class="icon-md text-primary">
                      <span class="iconmoon-smartphone-1"></span>
                    </div>

                    <div class="icon-content">
                      <h5 class="wt-tilte text-uppercase m-b0">
                        <f:translate key="general.mobile" extensionName="emmabase"/>
                      </h5>
                      <span class="m-b0">{settings.contacts.phoneMobile}</span>
                    </div>
                  </div>
                </f:link.typolink>
              </div>
            </div>
            <div class="col-sm-12 p-b20">
              <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix">
                <f:link.typolink class="m-b0" parameter="{settings.contacts.email}" title="{settings.contacts.email}">
                  <div class="pushedToCenter">
                    <div class="icon-md text-primary">
                      <span class="iconmoon-email"></span>
                    </div>
                    <div class="icon-content">
                      <h5 class="wt-tilte text-uppercase m-b0">
                        <f:translate key="general.email" extensionName="emmabase"/>
                      </h5>

                      {settings.contacts.email}
                    </div>
                  </div>
                </f:link.typolink>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-bottom overlay-wraper">
      <div class="overlay-main"></div>
      <div class="constrot-strip"></div>
      <div class="container p-t30">
        <div class="row">
          <div class="wt-footer-bot-left">
            <span class="copyrights-text">© {f:format.date(format:'Y', date:'now')} Powered by
              <f:link.typolink parameter="{f:translate(key: '{settings.contacts.dz_homePage}', extensionName:'emmabase')}" additionalAttributes="{rel:'noopener'}" target="_blank">
                <f:image src="{settings.dz_icon}" width="80" alt="DigitalZombies"/>
              </f:link.typolink>
            </span>
          </div>
          <div class="wt-footer-bot-right">
            <ul class="copyrights-nav pull-right">
              <f:for each="{navFooterMeta}" as="footerMeta">
                <li>
                  <a href="{footerMeta.link}">
                    {footerMeta.title}
                  </a>
                </li>
              </f:for>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </footer>

  <button class="scroltop"><span class=" iconmoon-house relative" id="btn-vibrate"></span>
    <f:translate key="general.up_button.title" extensionName="emmabase"/>
  </button>

</div>