<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:for each="{language}" as="langItem">
    <f:if condition="{langItem.languageUid} == 0">
        <f:then>
            <link rel="alternate" hreflang="x-default" href="{langItem.link}" />
        </f:then>
    </f:if>
    <f:if condition="!{langItem.active} && {langItem.available}">
        <link rel="alternate" hreflang="{settings.languages.{langItem.languageUid}.hrefLang}" href="{langItem.link}" />
    </f:if>
</f:for>
</html>