<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
  <section class="user-items container">

    <f:flashMessages />

    <f:if condition="{news}">
      <f:then>
        <f:widget.paginate objects="{news}" as="paginatedNews" configuration="{itemsPerPage: 10}">
          <div class="row">
            <f:for each="{paginatedNews}" as="newsItem" iteration="i">

              <div class="user-item col-sm-8 {f:if(condition:'{i.isEven}',then:'even',else:'odd')}">
                <div class="row">
                  <div class="col-3">
                    <f:if condition="{newsItem.falMedia.0}">
                      <f:then>
                        <f:image image="{newsItem.falMedia.0}" width="100" class="user-ittem_image" />
                      </f:then>
                      <f:else>
                        <f:image src="typo3conf/ext/emmabase/Resources/Public/dist/images/no-img.png" width="100"
                          class="user-ittem_image" />
                      </f:else>
                    </f:if>
                  </div>
                  <div class="col-9">
                    <div class="user-item_details">
                      <h2 class="user-item_title">{newsItem.title}</h2>
                      <div class="user-item_buttons">
                        <f:link.action action="edit" arguments="{news : newsItem}" class="mr-3 user-item_edit"
                          title="{f:translate(key: 'edit')}: {newsItem.title}"><i class="fa fa-pencil"></i>
                          Szerkeszt
                        </f:link.action>
                        <f:link.action action="delete" arguments="{news : newsItem}"
                          class="text-danger delete user-item_delete"
                          additionalAttributes="{data-toggle: 'modal', data-target: '#deleteModal'}"
                          title="{f:translate(key: 'delete')}: {newsItem.title}"><i class="fa fa-trash"></i>
                          Töröl
                        </f:link.action>
                      </div>
                    </div>
                  </div>
                </div>s
              </div>
            </f:for>
          </div>
        </f:widget.paginate>
      </f:then>
      <f:else>
        <div class="no-items">
          Mutasd be magad és a termékeidet.
        </div>
      </f:else>
    </f:if>

    <f:if condition="{news -> f:count()} < 1">
      <f:link.action action="new" class="user-items_new-button">
        Bejegyzés készítése
      </f:link.action>
    </f:if>


    <!-- Modal -->
    <div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close modal_close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Bizos, hogy törlöd ezt a hirdetést?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary modal_close">
              Mégsem</button>
            <a href="#" class="btn btn-danger" id="delLink">
              Törlöm</a>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      window.addEventListener("load", function () {
        const deleteButtons = document.querySelectorAll('.delete');
        for (let i = 0; i < deleteButtons.length; i++) {
          deleteButtons[i].addEventListener("click", function (e) {
            e.preventDefault();
            const target = deleteButtons[i].dataset.target;
            document.querySelector(target).classList.toggle("modal-open");
            document.getElementById('delLink').href = deleteButtons[i].href;
          });
        }

        const modalCloseButtons = document.querySelectorAll('.modal_close');
        for (let i = 0; i < modalCloseButtons.length; i++) {
          modalCloseButtons[i].addEventListener("click", function (e) {
            e.preventDefault();
            const modals = document.querySelectorAll('.modal');
            for (let j = 0; j < modals.length; j++) {
              modals[j].classList.remove("modal-open");
            }
          });
        }
      });
    </script>
  </section>
</f:section>

</html>