<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <section class="new-item container">
        <f:flashMessages />
        <f:render partial="FormErrors" />

        <f:form action="create" name="newNews" id="mdNewsfrontendForm" object="{newNews}" enctype="multipart/form-data"
            additionalAttributes="{data-parsley-validate:''}">
            <f:debug>{_all}</f:debug>
            <f:render partial="News/FormFields" arguments="{_all}" />
            <f:form.submit value="{f:translate(key: 'save')}" class="btn btn-primary" />
            <f:translate key="or" />
            <f:link.action action="list">
                <f:translate key="back_to_list" />
            </f:link.action>
        </f:form>
    </section>
</f:section>

<f:section name="HeaderAssets">
    <f:render partial="HeaderAssets" />
</f:section>

<f:section name="FooterAssets">
    <f:render partial="FooterAssets" />
</f:section>

</html>