<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="container-fluid backend--grey__color">
  <div class="row">

    <div class="col-md-5 col-sm-5 col-xs-6 text-center BE-p-t20">

      <f:image src="{data.image.0.uid}" treatIdAsReference="1" width="500" height="500" class="backend--image"/>

    </div>

    <div class="col-md-7 col-sm-7 col-xs-6 BE-p-t20">

      <f:if condition="{data.header}">
        <h2><b>{data.header}</b></h2>
      </f:if>

      <div class="wt-separator-outer">
        <div class="wt-separator style-square">
          <span class="separator-left bg-primary"></span>
          <span class="separator-right bg-primary"></span>
        </div>
      </div>

      <div class="main--color icon-content">
        <f:format.html>{data.bodytext}</f:format.html>
      </div>

      <f:for each="{data.tx_mask_square}" as="square">
        <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc BE-p-t20 text-center hide--lang">
          <div class="wt-icon-box-wraper left">
            <div class="icon-sm text-primary">
              <span class="icon-cell p-t5 center-block"><i style="font-size: 25px;" class="{square.tx_mask_icon_name}" aria-hidden="true"></i></span>
            </div>
            <div class="icon-content">
              <h5 class="wt-tilte text-uppercase m-b0">{square.tx_mask_title}</h5>
              <p>{square.tx_mask_subtitle}</p>
            </div>
          </div>
        </div>
      </f:for>

    </div>
  </div>
</div>

</html>