<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="section-full p-tb80 bg-no-repeat bg-cover background--responsive"
     style="background-image: url({f:uri.image(src:'{data.image.0.uid}', treatIdAsReference: '1', width: '1000')})">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-6">
        <div class="wt-box graph-tabing">
          <div class="wt-accordion acc-bg-primary acc-has-bg" id="accordion">

            <f:for each="{data.tx_mask_accordion}" as="accordion" iteration="iterator">
              <div class="panel wt-panel acod-head">
                <h5 class="acod-title text-uppercase">
                  <a class="accordion--font__color" data-toggle="collapse" href="#collapse{iterator.cycle}-{data.uid}" data-parent="#accordion-{data.uid}">
                    {accordion.tx_mask_title}
                    <span class="indicator"><i class="fa fa-plus"></i>{accordion.tx_mask_accordion}</span>
                  </a>
                </h5>
                <div id="collapse{iterator.cycle}-{data.uid}" class="acod-body collapse">
                  <div class="acod-content p-tb15">{accordion.tx_mask_text}</div>
                </div>

              </div>
            </f:for>

          </div>

        </div>
      </div>

      <div class="col-md-6">
        <div class="wt-box graph-part-right text-white">
          <h2><span class="text-uppercase text-primary display-block text-center"><b>{data.subheader}</b></span></h2>
          <f:format.html>{data.bodytext}</f:format.html>
          <ul class="list-check-circle primary">
            <f:for each="{data.tx_mask_list}" as="list">
              <li>{list.tx_mask_title}</li>
            </f:for>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

</html>