<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="container-fluid bg-primary">
  <div class="row">
    <div class="col-md-8 col-sm-8">
      <f:if condition="{data.header}">
        <h2>{data.header}</h2>
      </f:if>
      <p class="text-black">{data.subheader}</p>
    </div>

    <div class="col-md-3 BE-p-t20">
      <a href="javascript:void(0);" class="backend--button">
        {data.tx_mask_button_label}
      </a>
    </div>
  </div>
</div>

</html>