<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="container-fluid">
  <div class="section-content">
    <div class="row">
      <div class="col-md-6">

        <div class="section-content">
          <div class="section-head">
            <f:if condition="{data.header}">
              <h2>{data.header}</h2>
            </f:if>
            <div class="wt-separator-outer">
              <div class="wt-separator style-square">
                <span class="separator-left bg-primary"></span>
                <span class="separator-right bg-primary"></span>
              </div>
            </div>
          </div>

          <div class="wt-accordion acc-bg-gray" id="accordion-{data.uid}">

            <f:for each="{data.tx_mask_accordion}" as="accordion" iteration="iterator">
              <div class="panel wt-panel ">
                <div class="acod-head-g ">
                  <h6 class="acod-title-g text-uppercase">
                    <a data-toggle="collapse" href="#collapse{iterator.cycle}-{data.uid}" data-parent="#accordion-{data.uid}"><i class="{accordion.tx_mask_icon_name}"></i>
                      {accordion.tx_mask_title}
                      <span class="indicator"><i class="fa fa-plus"></i></span>
                    </a>
                  </h6>
                </div>
                <div id="collapse{iterator.cycle}-{data.uid}" class="acod-body-g collapse">
                  <div class="acod-content-g p-tb15">{accordion.tx_mask_text}</div>
                </div>
              </div>
            </f:for>

          </div>
        </div>

      </div>

      <div class="col-md-6">
        <div class="section-head">
          <h2 class="text-uppercase">{data.tx_mask_checklist_title}</h2>
          <div class="wt-separator-outer">
            <div class="wt-separator style-square">
              <span class="separator-left bg-primary"></span>
              <span class="separator-right bg-primary"></span>
            </div>
          </div>
        </div>

        <div class="wt-box backend--grey__color p-a30">
          <ul class="list-checked black">
            <f:for each="{data.tx_mask_responsibility_list}" as="responsibilityList">
              <li>{responsibilityList.tx_mask_title}</li>
            </f:for>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

</html>