<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="container-fluid backend--counter__font-size">
  <div class="backend--bg__pos bg-parallax"
       style="background-image: url({f:uri.image(src:'{data.image.0.uid}', treatIdAsReference: '1', width: '1000')})">

    <div class="counter_content">

      <f:for each="{data.tx_mask_counter}" as="counter">

        <div class="">
          <div class="BE-p-b15 BE-p-t15 text-white text-center">
            <i class="backend--counter__icon {counter.tx_mask_icon_name}"></i>
            <f:if condition="{counter.tx_mask_symbol}">
              <f:then>
                <div class="font-26 font-weight-800 m-b5">
                  <span class="counter">{counter.tx_mask_number}</span><b>{counter.tx_mask_symbol}</b></div>
                <span>{counter.tx_mask_title}</span>
              </f:then>
              <f:else>
                <div class="counter font-26 font-weight-800 m-b5">{counter.tx_mask_number}</div>
                <span>{counter.tx_mask_title}</span>
              </f:else>
            </f:if>

          </div>
        </div>

      </f:for>

    </div>
  </div>
</div>
</html>
