<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="container-fluid">
  <div class="row">

    <div class="col-md-12">
      <f:if condition="{data.header}">
        <h2>{data.header}</h2>
      </f:if>
      <div class="wt-separator-outer">
        <div class="wt-separator style-square">
          <span class="separator-left bg-primary"></span>
          <span class="separator-right bg-primary"></span>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <f:for each="{data.tx_mask_question_answer}" as="quesAndAns" iteration="iterator">
        <f:if condition="{iterator.cycle} <= 4">
          <div class="faq-block">
            <h3 class="faq-que" data-faq-que-content="{f:translate(key: 'faq.question', extensionName: 'emmabase')}">{quesAndAns.tx_mask_question}</h3>
            <div class="faq-ans" data-faq-ans-content="{f:translate(key: 'faq.answer', extensionName: 'emmabase')}">
              <p style="font-size: 12px;">{quesAndAns.tx_mask_answer}</p>
            </div>
          </div>
        </f:if>
      </f:for>
    </div>
  </div>

</div>
</html>