<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="container-fluid">

  <div class="row">
    <f:for each="{data.image}" as="image" iteration="iterator">

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
        <div class="BE-gallery">

          <f:if condition="{iterator.cycle} <= 6">
            <f:image src="{image.uid}" treatIdAsReference="1" width="400" class="backend--image"/>
          </f:if>

        </div>
      </div>

    </f:for>

  </div>
</div>

</html>