<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="container-fluid">

  <div class="section-head text-center">
    <f:if condition="{data.header}">
      <h2>{data.header}</h2>
    </f:if>
    <div class="wt-separator-outer m-b50">
      <div class="wt-separator style-square">
        <span class="separator-left bg-primary"></span>
        <span class="separator-right bg-primary"></span>
      </div>
    </div>

  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="mfp-gallery no-col-gap">

        <f:for each="{data.image}" as="image">

          <div style="margin: 0; padding: 0" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <f:image src="{image.uid}" treatIdAsReference="1" class="backend--image"/>
          </div>

        </f:for>

      </div>
    </div>
  </div>
</div>

</html>