<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="container-fluid">

  <div class="section-head text-center">
    <f:if condition="{data.header}">
      <h2>{data.header}</h2>
    </f:if>
    <div class="wt-separator-outer">
      <div class="wt-separator style-square">
        <span class="separator-left bg-primary"></span>
        <span class="separator-right bg-primary"></span>
      </div>
    </div>
    <p>{data.subheader}</p>
  </div>

  <div class="row">
    <div class="col-md-12 partnerLogo BE-p-t15">
      <f:for each="{data.image}" as="partnerLogo">
        <div class="col-md-2">
          <f:image src="{partnerLogo.uid}" treatIdAsReference="1" width="200"/>
        </div>
      </f:for>
    </div>
  </div>
</div>

</html>