<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-md-6 col-sm-6">
        <div class="page-notfound text-center">
          <h2><strong class="text-uppercase">{data.header}</strong></h2>
          <f:switch expression="{data.tx_mask_error_type}">

            <f:case value="0">
              <h2><strong>4<i class="fa fa-frown-o text-primary"></i>3</strong></h2>
              <h2>
                <f:translate key="tt_content.error_type.403" extensionName="emmabase"/>
              </h2>
            </f:case>

            <f:case value="1">
              <h2><strong>4<i class="fa fa-frown-o text-primary"></i>4</strong></h2>
              <h2>
                <f:translate key="tt_content.error_type.404" extensionName="emmabase"/>
              </h2>
            </f:case>

            <f:case value="2">
              <h2><strong>5<i class="fa fa-frown-o text-primary"></i><i class="fa fa-frown-o text-primary"></i></strong></h2>
              <h2>
                <f:translate key="tt_content.error_type.500" extensionName="emmabase"/>
              </h2>
            </f:case>

          </f:switch>

        </div>
      </div>

    </div>
  </div>
</div>

</html>