<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="bg-parallax"
     style="background-image: url({f:uri.image(src:'{data.image.0.uid}', treatIdAsReference: '1', width: '1000')})">

  <div class="container-fluid">

    <div class="text-center">
      <f:if condition="{data.header}">
        <h2 class="text-white"><b>{data.header}</b></h2>
      </f:if>
      <div class="wt-separator-outer">
        <div class="wt-separator style-square has-bg">
          <span class="separator-left bg-primary"></span>
          <span class="separator-right bg-primary"></span>
        </div>
      </div>
    </div>
    <div class="section-content">
      <div class="timeline text-white">

        <f:for each="{data.tx_mask_process}" as="process" iteration="iterator">

          <div class="timeline-item {f:if(condition: '!{iterator.isLast}', then: 'p-b40')}">
            <div class="timeline-disc">
              <h3 class="text-uppercase">{process.tx_mask_title}</h3>
              <p>{process.tx_mask_subtitle}</p>
            </div>
          </div>

        </f:for>
      </div>
    </div>
  </div>
</div>
</html>