<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="container-fluid">
  <div class="row">

    <div class="col-md-12 backend--breadcrumb">
      <span style="color:#75c8d7;"><i class="fa fa-home"></i> <b> <f:translate key="be_preview.parent_page" extensionName="emmabase"/></b></span>
      <span class="text-white"> »  <f:translate key="be_preview.current_page" extensionName="emmabase"/></span>
    </div>

  </div>
</div>

</html>