<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{data.image.0.title}">
  <f:then>
    <div class="container-fluid">
      <div class="section-head text-center">
        <f:if condition="{data.header}">
          <h2>{data.header}</h2>
        </f:if>
        <div class="wt-separator-outer">
          <div class="wt-separator style-square">
            <span class="separator-left bg-primary"></span>
            <span class="separator-right bg-primary"></span>
          </div>
        </div>
        <p>{data.subheader}</p>
      </div>
      <div class="row">

        <f:for each="{data.image}" as="image">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="wt-box bg-white">

              <f:image src="{image.uid}" treatIdAsReference="1" width="250" height="150" class="backend--image"/>

              <div class="wt-info p-tb30">
                <h4 class="wt-title m-t0"><b>{image.title}</b></h4>
                <p class="main--color">{image.description}</p>
              </div>
            </div>
          </div>
        </f:for>

      </div>

    </div>
  </f:then>
  <f:else>

    <div class="container-fluid">
      <div class="section-head text-center">
        <f:if condition="{data.header}">
          <h2>{data.header}</h2>
        </f:if>
        <div class="wt-separator-outer">
          <div class="wt-separator style-square">
            <span class="separator-left bg-primary"></span>
            <span class="separator-right bg-primary"></span>
          </div>
        </div>
      </div>
      <div class="row">

        <f:for each="{data.image}" as="image" iteration="iterator">
          <div class="col-md-4 col-sm-4 col-xs-4 {f:if(condition:'{iterator.cycle}!= 2', then: 'p-t80')}">
            <div class="wt-box">
              <div class="wt-thum-bx wt-img-overlay1">

                <f:image src="{image.uid}" treatIdAsReference="1" width="250" height="150" class="backend--image"/>
              </div>
            </div>
          </div>
        </f:for>

      </div>
    </div>

  </f:else>
</f:if>
</html>
