<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div style="font-size: 10px;" class="container-fluid hide--lang">
  <f:if condition="{data.iamge}">
    <f:image image="{data.image.0}" treatIdAsReference="1" width="400" height="200"/>
  </f:if>
  <f:format.html>
    {data.bodytext}
  </f:format.html>
</div>
</html>