<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="backend--grey__color">
  <div class="container-fluid">

    <div class="section-head text-center">
      <f:if condition="{data.header}">
        <h2>{data.header}</h2>
      </f:if>
      <div class="wt-separator-outer">
        <div class="wt-separator style-square">
          <span class="separator-left bg-primary"></span>
          <span class="separator-right bg-primary"></span>
        </div>
      </div>
      <p>{data.subheader}</p>
    </div>

    <div class="section-content main--color">
      <div class="row">

        <f:for each="{data.tx_mask_text_block}" as="textBlock">

          <div class="col-lg-6 col-md-6 backend--white__color">
            <div class="BE-p-b15 BE-p-t15">
              <div class="col-md-2 hide--lang">
                <div class="wt-icon-box-sm bg-primary">
                  <span class="icon-cell text-white be--icon"><i class="{textBlock.tx_mask_icon_name} backend--textblock__icon"></i></span>
                </div>
              </div>
              <div class="col-md-10">
                <div class="icon-content">
                  <h5 class="wt-tilte text-uppercase">{textBlock.tx_mask_title}</h5>
                  <p>{textBlock.tx_mask_text}</p>
                </div>
              </div>
            </div>
          </div>
        </f:for>

      </div>
    </div>

  </div>
</div>

</html>