<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="bg-primary text-black">
  <div class="container-fluid BE-p-t15">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <f:for each="{data.tx_mask_column}" as="col">

          <div class="col-md-6 p-tb10">
            <div style="position: relative;">
              <div class="backend--icon__wrapper">
                <div class="backend--cta__icon">
                  <!-- Iconmoon typed icons needed for BE! -->
                  <span class="fa fa-clock-o text-white"></span>
                </div>
                <div class="icon-content">
                  <h5 class="text-uppercase">{col.tx_mask_title}</h5>
                  <p>{col.tx_mask_subtitle}</p>
                </div>
              </div>
            </div>
          </div>

        </f:for>
      </div>
      <div class="col-lg-3">
        <a href="javascript:void(0);" class="backend--button">
          {data.tx_mask_button_label}
        </a>
      </div>
    </div>
  </div>
</div>
</html>