<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="backend--grey__color main--color">

  <div class="container-fluid text-center">
    <h2><b>{data.header}</b></h2>

    <div class="wt-separator-outer">
      <div class="wt-separator style-square">
        <span class="separator-left bg-primary"></span>
        <span class="separator-right bg-primary"></span>
      </div>
    </div>

    <p>{data.subheader}</p>

    <div class="row">

      <f:for each="{data.tx_mask_square}" as="square">

        <div class="col-md-4">
          <div class="wt-icon-box-wraper  p-a30 center backend--white__color">
            <div class="icon-sm text-primary m-b20">
              <!--Flaticon needed for BE-->
              <p class="backend--why-choose-us__icon"><i class="{square.tx_mask_icon_name}" aria-hidden="true"></i></p>
            </div>
            <div class="icon-content">
              <h5 class="wt-tilte text-uppercase">{square.tx_mask_title}</h5>
              <p style="padding-bottom: 20px;">{square.tx_mask_subtitle}</p>
            </div>
          </div>
        </div>

      </f:for>

    </div>
  </div>
</div>
</html>