<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{settings.cssFile}">
    <n:includeFile path="{settings.cssFile}" />
</f:if>

<div class="news news-single container ttest">
    <div class="article" itemscope="itemscope" itemtype="http://schema.org/Article">
        <f:render section="content" />
    </div>
</div>

</html>